a {
  text-decoration: none;
}
.index_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #a2ebe8;
  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 60%;
      margin-top: 50px;
      @include md() {
        width: 30%;
      }
    }
  }

  .island_pic {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .island_pic img {
    width: 90%;
    margin-bottom: 50px;
    @include md() {
      width: 40%;
    }
  }
}
.stages {
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 10%;
  @include md {
    width: 40%;
  }
  //
  .front {
    position: relative;
    &:hover::after {
      content: url(/images/index_arrow.png);
      position: absolute;
      left: -28%;
      top: 25%;
      animation: arrow 6s linear 0.1s infinite;
    }
    @include btn();
  }
}

.back {
  position: relative;
  &:hover::after {
    content: url(/images/index_arrow.png);
    position: absolute;
    left: -28%;
    top: 25%;
    animation: arrow 6s linear 0.1s infinite;
  }
  @include btn();
}
@keyframes move {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  5% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  10% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  15% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  20% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  25% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  30% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  35% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  45% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  //   50.01% {
  //     -webkit-transform: translate3d(0, 10%, 0);
  //   }

  60% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  65% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  70% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  80% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  85% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 20%, 0);
  }

  95% {
    -webkit-transform: translate3d(-0, 0%, 0);
  }

  100% {
    -webkit-transform: translate3d(0%, 20%, 0);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }

  5% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  10% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  15% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  20% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  25% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  30% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  35% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  40% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  45% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  50.01% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  60% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  65% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  70% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  75% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  80% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  85% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 0%, 0);
  }

  95% {
    -webkit-transform: translate3d(30%, 0%, 0);
  }

  100% {
    -webkit-transform: translate3d(0%, 0%, 0);
  }
}

.cloud_1 {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 20%;

  @include md {
    width: 50%;
  }
}
.cloud_2 {
  position: absolute;
  right: 10%;
  top: 20%;
  width: 20%;
  @include md {
    width: 50%;
    right: 0;
    top: 5%;
  }
}

.cloud_3 {
  position: absolute;
  right: 0;
  top: 50%;
  width: 20%;
  @include md {
    width: 40%;
    right: 0;
    top: 60%;
  }
}
// @keyframes cloud {
//   form {
//     top: 10%;
//   }
//   to {
//     top: -25%;
//   }
// }
