body {
  background-color: rgba(250, 230, 184, 0.5);
  font-family: $fontCh;
}

.pay_box,
.tool_box {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 30;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;

  .tool_text_box {
    display: none;
    position: absolute;
    width: 250px;
    height: 100px;
    background-color: #fae6b8;
    border: 5px solid #f9bb4d;
    margin: auto;
    border-radius: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    .text,
    .tool_text {
      line-height: 1;
      font-size: 20px;
      margin: 10px;
    }
  }
  .choice {
    display: flex;
    .yes_btn,
    .no_btn,
    .tool_yes_btn,
    .tool_no_btn {
      cursor: pointer;
      margin: 10px;
      @include btn();
    }
  }
}
.text_box {
  display: block;
  position: absolute;
  width: 200px;
  height: 80px;
  background-color: #fae6b8;
  border: 5px solid #f9bb4d;
  margin: auto;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  .text,
  .tool_text {
    line-height: 1;
    font-size: 20px;
    margin: 10px;
  }
}
.mall_wrap {
  width: auto;
  height: 100vh;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  .mall_floor {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .mall_floor_pic,
  .mall_floor_item_pic,
  .mall_npc {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .mall_npc {
    display: none;

    .npc_pic img {
      width: 100px;
      height: 100px;
    }
    @include md() {
      display: block;
      top: 65%;
      left: 20%;
    }
    .npc_talk {
      p {
        display: none;
        position: absolute;

        @include xl() {
          display: block;
          top: -10%;
          left: -10%;
          z-index: 21;
        }
      }
    }
    .talk_content {
      width: 35ch;
      animation: typing 2s steps(22), blink 0.8s step-end alternate;
      white-space: nowrap;
      overflow: hidden;
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }
    .npc_talk img {
      display: none;
      @include xl() {
        display: block;
        z-index: 20;
        position: absolute;
        top: -13%;
        left: -10%;
      }
    }
  }

  .mall_floor_pic img {
    display: none;
    width: 100%;
    @include md() {
      display: block;
      height: 80%;
      margin-top: 30%;
    }
    @include lg() {
      display: block;
      height: 100%;
      margin-top: 20%;
    }
  }
  .mall_floor_item_pic {
    top: 30%;
    left: 5%;
    @include lg() {
      left: 3%;
    }
  }
  .mall_floor_item_pic img {
    display: none;
    @include lg() {
      display: block;
      width: 40%;
      height: 35%;
    }
    @include xl() {
      display: block;
      width: 40%;
      height: 50%;
    }
  }
  .mall_item_wrap {
    width: 100%;
    display: flex;
    margin-top: 180px;
    @include lg() {
      width: 100%;
      margin-top: 20px;
    }
    @include xl() {
      width: 100%;
      margin-top: 0px;
    }
    .mall_item {
      width: 100%;
      display: flex;
      justify-content: center;
      @include md() {
        justify-content: center;
        align-items: center;
        margin: auto;
      }
      @include lg() {
        margin: auto;
        margin-top: 12%;
        width: 70%;
        justify-content: flex-end;
      }

      .mall_product {
        margin-top: 20px;
        position: relative;
        width: 85%;
        height: 400px;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: #fae6b8;

        @include md() {
          width: 550px;
          height: 450px;
        }
        .item_info,
        .item_info_lock,
        .item_info_tool {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: space-around;
        }

        .item_1,
        .item_2,
        .item_3,
        .item_4 {
          display: flex;
          justify-content: space-around;
          width: 300px;
          height: 100px;
          border-radius: 5px;
          background-color: #fff;
          margin: 20px;
          z-index: 2;
          @include md() {
            width: 500px;
            height: 120px;
            margin: 10px;
          }
          .item_pic {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            background-color: #fae6b8;
            border: 1px solid #ccc;
            cursor: pointer;
            @include md() {
              width: 50px;
              height: 50px;
            }
          }
          .item_pic img {
            width: 30px;
            height: 30px;
            @include md() {
              width: 45px;
              height: 45px;
            }
          }
          .item_price {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            @include md() {
              width: 50px;
              padding: 5px;
              border-radius: 20px;
              border: 1px solid #ccc;
            }
          }
          .item_price_pic img {
            width: 15px;
            height: 15px;
            margin: 0 3px;
          }
          .item_price_text {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.mall_rwd_floor {
  position: absolute;
  bottom: -5%;
  width: 100vw;
  img {
    width: 100%;
    height: 120px;
  }
  @include md() {
    display: none;
  }
}
@include md() {
  //課程介紹_768
  .n4_word {
    &:hover::after {
      content: url(../images/mall_n4_word.png);
      position: absolute;
      left: -13%;
      top: -5%;
    }
  }
  .n4_conversation {
    &:hover::after {
      content: url(../images/mall_n4_conversation.png);
      position: absolute;
      left: 9%;
      top: -5%;
      z-index: 10;
    }
  }

  .n3_word {
    &:hover::after {
      content: url(../images/mall_n3_word.png);
      position: absolute;
      left: 31%;
      top: -5%;
    }
  }
  .n3_conversation {
    &:hover::after {
      content: url(../images/mall_n3_conversation.png);
      position: absolute;
      left: 53%;
      top: -5%;
      z-index: 10;
    }
  }

  .n2_word {
    &:hover::after {
      content: url(../images/mall_n2_word.png);
      position: absolute;
      left: -13%;
      top: 22.5%;
    }
  }
  .n2_conversation {
    &:hover::after {
      content: url(../images/mall_n2_conversation.png);
      position: absolute;
      left: 9%;
      top: 22.5%;
      z-index: 10;
    }
  }

  .n1_word {
    &:hover::after {
      content: url(../images/mall_n1_word.png);
      position: absolute;
      left: 31%;
      top: 22.5%;
    }
  }
  .n1_conversation {
    &:hover::after {
      content: url(../images/mall_n1_conversation.png);
      position: absolute;
      left: 53%;
      top: 22.5%;
      z-index: 10;
    }
  }

  .all_word {
    &:hover::after {
      content: url(../images/mall_all_word.png);
      position: absolute;
      left: -13%;
      top: 50.5%;
    }
  }
  .all_conversation {
    &:hover::after {
      content: url(../images/mall_all_conversation.png);
      position: absolute;
      left: 9%;
      top: 50.5%;
      z-index: 10;
    }
  }
  .add_word {
    &:hover::after {
      content: url(../images/mall_add_word.png);
      position: absolute;
      left: 31%;
      top: 50.5%;
    }
  }
  .add_conversation {
    &:hover::after {
      content: url(../images/mall_add_conversation.png);
      position: absolute;
      left: 53%;
      top: 50.5%;
      z-index: 10;
    }
  }

  //裝備介紹_768
  .mall_hat_1 {
    &:hover::after {
      content: url(../images/mall_hat_1.png);
      position: absolute;
      left: -4.5%;
      top: -11%;
    }
  }
  .mall_hat_2 {
    &:hover::after {
      content: url(../images/mall_hat_2.png);
      position: absolute;
      left: 17%;
      top: -11%;
    }
  }
  .mall_hat_3 {
    &:hover::after {
      content: url(../images/mall_hat_3.png);
      position: absolute;
      left: 39%;
      top: -11%;
    }
  }
  .mall_hat_4 {
    &:hover::after {
      content: url(../images/mall_hat_4.png);
      position: absolute;
      left: 60%;
      top: -11%;
    }
  }
  .mall_hat_5 {
    &:hover::after {
      content: url(../images/mall_hat_5.png);
      position: absolute;
      left: -5.5%;
      top: 16%;
    }
  }
  .mall_hat_6 {
    &:hover::after {
      content: url(../images/mall_hat_6.png);
      position: absolute;
      left: 17%;
      top: 16%;
    }
  }
  .mall_hat_7 {
    &:hover::after {
      content: url(../images/mall_hat_7.png);
      position: absolute;
      left: 39%;
      top: 16%;
    }
  }
  .mall_hat_8 {
    &:hover::after {
      content: url(../images/mall_hat_8.png);
      position: absolute;
      left: 60%;
      top: 16%;
    }
  }
  .mall_dress_1 {
    &:hover::after {
      content: url(../images/mall_dress_1.png);
      position: absolute;
      left: -4.5%;
      top: 44%;
    }
  }
  .mall_dress_2 {
    &:hover::after {
      content: url(../images/mall_dress_2.png);
      position: absolute;
      left: 17%;
      top: 44%;
    }
  }
  .mall_dress_3 {
    &:hover::after {
      content: url(../images/mall_dress_3.png);
      position: absolute;
      left: 39%;
      top: 44%;
    }
  }
  .mall_dress_4 {
    &:hover::after {
      content: url(../images/mall_dress_4.png);
      position: absolute;
      left: 60%;
      top: 44%;
    }
  }
}

//商品切換
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  position: absolute;
  top: -10%;
  left: 3%;
  display: block;
  padding: 16px 30px;
  cursor: pointer;
}
.tabtwo {
  margin: 0 100px;
}

.tabs .tab {
  order: 1;
  width: 100%;
  display: none;
  padding: 16px;
}

.tabs input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.tabs input[type="radio"]:checked + label {
  border-radius: 10px 10px 0 0;
  background: #fae6b8;
}
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
