

.wapper{
    position: relative;
    overflow: hidden;
    width: auto;
    height:100vh ; 
    .content{
        position: relative;
        max-width: 1200px;
        height: 100%;
        margin: auto;
    }
    #me{
        z-index:1 ;
        width: 150px;
        position: absolute;
        top:calc((100% - 150px)*0.5);
        left: calc((100% - 150px)*0.5);
    }
}



.wall{
    width: auto;
    height: 45%; 
    @include bg('map_mem_30.jpg',bottom);
    .map{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(150px,'',85px,70px,'');
        @include md{
            @include mem_item(150px,'',300px,70px,'')
        }
        @include lg{
            @include mem_item(150px,'',400px,70px,'')
        }
    }
    .closet{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(210px,'','',-50px,15px);
    }
    .clock{
        @include m{display: none;}
        @include md{
            @include mem_item(80px,'','',100px,220px)
        }
    }
    .flower{
        @include m{display: none;};
        @include md{
            @include mem_item(150px,'',150px,-70px,'')
        }
    };
    .window{
        @include l{display: none;};
        @include md{
            @include mem_item(150px,'',150px,70px,'')
        }
    };

}

.floor{
    width: auto;
    height: 55%;
    @include bg('map_mem_31.jpg',top);
    .bed{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(180px,-30px,15px,'','');
    };
    .box1{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(100px,'','',15px,30px);
    };
    .teacher{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(70px,'',100px,5px,'');
    };
    .phone{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(70px,'',5px,5px,'');
    };
    .desk{
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(170px,'',140px,80px,'');
        @include md{
            @include mem_item(170px,'',200px,80px,'');
        }
    };
    .mat{
        @include mem_item(300px,'','',100px,30px);
        @include md{
            @include mem_item(300px,'','',100px,150px);
        }
        @include lg{
            @include mem_item(300px,'','',100px,250px);
        }
    };
    
    .chair{
        @include m{display: none;};
        @include md{
            @include mem_item(100px,'',380px,110px,'')
        }
        @include lg{
            @include mem_item(100px,'',400px,110px,'')
        }
    }
    
    .box2{display: none};

}















.chetbox{
    display: none;
    z-index: 30;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    font-size: 16px;
    padding: 8px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#ffffff;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    @include mem_item(320px,'',5%,0px,'');
    @include md{
        height: 60%
    }
    @include m{
        height: 80%
    }
    .info{
        width: 320px;
        padding:8px;
        display: flex;
        align-items: center;
        position: absolute;
        top:0;
        left: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        
        .headshot{
            width:40px;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.4);
            img{
                width: 120%;
                height: 120%;
                align-self: baseline;
            }
        }
        .teacher-name{
            padding: 5px;
        }
        .cancel{
            cursor: pointer;
            display: flex;
            span{
                position: absolute;
                right: 10px;
                top:18px;
                display: inline-block;
                width: 20px;
                height: 3px;
                border-radius: 1px;
                background-color: #F9BB4D;
            };
            :nth-child(1){
                transform:  rotate(45deg);
            }
            :nth-child(2){
                transform:  rotate(-45deg);
            }
        }

    }
    .input{
        display: flex;
        justify-content: space-between;
        width: 320px;
        padding: 8px 8px 15px 8px;
        position: absolute;
        bottom:0;
        left: 0;
        
        input{
            flex-grow: 3;
            padding: 8px 15px 8px 15px;
            font-size: 16px;
            border: 3px solid #FAE6B8;
            outline: none;
            border-radius: 20px;
            &:focus{
                background-color: #FAE6B8;
                border: 3px solid #F9BB4D
            }
        }
        .sent{
            cursor: pointer;
            width: 40px;
            height: 40px;
            padding: 0px 10px;
            
        }
        
    }

    
}





.black{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    

    #lightBox{
        @include lightboxSize($W4,$H4,$W3,$H3,$W2,$H2,$W,$H);
        top:50%;
        left: 50%;
        display: none;
        border-radius: 20px;
        padding: 50px;
        background-color: #FAE6B8;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
        display: inline-block;
        position: absolute;
        
        .map_lightBox{
            display: none;
            // @include lightboxSize($W4,$H4,$W3,$H3,$W2,$H2,$W,$H);
            overflow:overlay;
            &::-webkit-scrollbar-button{
                background-color: rgb(0, 176, 15);
            }
        }

        .closet_lightBox{
            // @include lightboxSize($W,$H,$W2,$H2,$W3,$H3,$W4,$H4);
            overflow:overlay;
            &::-webkit-scrollbar-button{
                background-color: rgb(0, 176, 15);
            }
        }


        .bed_lightBox{
            // @include lightboxSize($W,$H,$W2,$H2,$W3,$H3,$W4,$H4);
            overflow:overlay;
            &::-webkit-scrollbar-button{
                background-color: rgb(0, 176, 15);
            }

        }

        .box1_lightBox{
            // @include lightboxContent($W,$H,$W2,$H2,$W3,$H3,$W4,$H4);
            overflow:overlay;
            &::-webkit-scrollbar-button{
                background-color: rgb(0, 176, 15);
            }

        }


        .desk_lightBox{
            //  @include lightboxContent($W,$H,$W2,$H2,$W3,$H3,$W4,$H4);
            overflow:overlay;
            &::-webkit-scrollbar-button{
                background-color: rgb(0, 176, 15);
            }

        }


    }
    
    
    // .xl_lightBox{ //學習紀錄 //學員換裝
    //     @include lightboxSize($xl_lightbox_width,$xl_lightbox_height);
    //     background-color: #FAE6B8
    // };

    // .lg_lightBox{
    //     @include lightboxSize($lg_lightbox_width,$lg_lightbox_height);
    //     background-color: #FAE6B8

    // }

    // .md_lightBox{
    //     @include lightboxSize($md_lightbox_width,$md_lightbox_height);
    //     background-color: #FAE6B8

    // }

    .back{
        cursor: pointer;
        text-align: center;
        position: absolute;
        left: -20px;
        top:20px;
        width: 70px;
        font-size: 24px;
        color: #fff;
        border: #fff solid 3px;
        border-radius: 5px;
        background-color: #F9BB4D
    }

}


