


.wrapper{
    position: relative;
    overflow: hidden;
    width: auto;
    
    .content{
        position: relative;
        max-width: 1200px;
        height: 100%;
        margin: auto;
    }
    .say{
        padding: 10px 30px;
        border:#F9BB4D 3px solid;
        border-radius: 10px;
        z-index:2 ;
        display: inline-block;
        background-color: #FAE6B8;
        position: absolute;
        top:calc(100%*0.5 - 120px);
        left: calc(100% *0.5);
    }
    #me{
        z-index:6 ;
        width: 150px;
        position: absolute;
        top:calc((100% - 150px)*0.5);
        left: calc((100% - 150px)*0.5);
    }

}



.wall{
    width: auto;
    height: 45%; 
    @include bg('map_mem_30.jpg',bottom);
    .map{
        cursor: pointer;
        z-index: 3;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(150px,'',65px,70px,'');
        @include md{
            @include mem_item(150px,'',300px,70px,'')
        }
        @include lg{
            @include mem_item(150px,'',400px,70px,'')
        }
    }
    .closet{
        cursor: pointer;
        z-index: 3;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(210px,'','',-50px,15px);
    }
    .clock{
        @include m{display: none;}
        @include md{
            @include mem_item(80px,'','',100px,220px)
        }
    }
    .flower{
        @include m{display: none;};
        @include md{
            @include mem_item(150px,'',150px,-70px,'')
        }
    };
    .window{
        @include l{display: none;};
        @include md{
            @include mem_item(150px,'',150px,70px,'')
        }
    };

}

.floor{
    width: auto;
    height: 55%;
    @include bg('map_mem_31.jpg',top);
    .bed{
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(180px,-30px,15px,'','');
    };
    .box1{
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(100px,'','',15px,30px);
    };
    .teacher{
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(70px,'',80px,5px,'');
        @include md{
            @include mem_item(70px,'',100px,5px,'');
        }
       
    };
    .phone{
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(70px,'',5px,5px,'');
    };
    .desk{
        z-index: 3;
        cursor: pointer;
        &:hover{
            transform: scale(1.1)
        };
        @include mem_item(170px,'',120px,90px,'');
        @include md{
            @include mem_item(170px,'',200px,80px,'');
        }
    };
    .mat{
        @include mem_item(300px,'','',100px,30px);
        @include md{
            @include mem_item(300px,'','',100px,150px);
        }
        @include lg{
            @include mem_item(300px,'','',100px,250px);
        }
    };
    
    .chair{
        @include m{display: none;};
        @include md{
            @include mem_item(100px,'',380px,110px,'')
        }
        @include lg{
            @include mem_item(100px,'',400px,110px,'')
        }
    }
    
    .box2{display: none};

}















.chetbox{
    display: none;
    z-index: 6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    padding: 8px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#fff;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
    // position: relative;
    @include mem_item(320px,'',5%,0px,'');
    @include md{
        height: 60%
    }
    @include m{
        height: 80%
    }
    .info{
        width: 320px;
        padding:8px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: 10%;
        // border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        
        .headshot{
            width:40px;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.4);
            img{
                width: 120%;
                height: 120%;
                align-self: baseline;
            }
        }
        .teacher-name{
            font-weight: 600;
            padding: 5px;
        }
        .cancel{
            cursor: pointer;
            display: flex;
            span{
                position: absolute;
                right: 10px;
                top:18px;
                display: inline-block;
                width: 20px;
                height: 3px;
                border-radius: 1px;
                background-color: #F9BB4D;
            };
            :nth-child(1){
                transform:  rotate(45deg);
            }
            :nth-child(2){
                transform:  rotate(-45deg);
            }
        }

    }

    .conv{
        height: 80%;
        box-sizing: border-box;
        border: 3px solid #FAE6B8;
        border-radius: 10px;
        justify-content: end;
        overflow: overlay;
        ::-webkit-scrollbar{
            background-color: #fff;
        }

        .tr{
            width: 100%;
            padding: 5px 5px 18px 5px;
            box-sizing: border-box;
            display: flex;
            position: relative;

            .tr-name{
                position: absolute;
                left: 50px;
                font-size: 13px;
                color:rgba(0, 0, 0, 0.65); 
            }
            .trHead{
                width:36px;
                height: 36px;
                border-radius: 18px;
                background-color: #FAE6B8;
                
                img{
                    height: 100%;
                    width: auto;
                }
            }

            
            p{  
                position: relative;
                bottom: -15px;
                margin: 0px 10px;
                padding: 5px;
                display: inline-block;
                max-width: 60%;
                background-color: #F9BB4D;
                word-wrap:break-word; 
                line-height: 26px;
                border-radius: 10px;
                font-size: 14px;
                
                
            }
            
        }
        .user{
            width: 100%;
            padding: 5px 5px 18px 5px;
            box-sizing: border-box;
            
            display: flex;
            flex-direction: row-reverse;
            position: relative;

            .user-name{
                position: absolute;
                right: 50px;
                font-size: 13px;
                color:rgba(0, 0, 0, 0.65); 
            }
            .userHead{
                width:36px;
                height: 36px;
                border-radius: 18px;
                background-color: #FAE6B8;
                img{
                    height: 100%;
                    width: auto;
                }

            }
            
            p{
                margin: 0px 10px;
                position: relative;
                bottom: -15px;
                padding: 5px;
                display: inline-block;
                max-width: 60%;
                background-color: #F9BB4D;
                word-wrap:break-word;
                line-height: 26px;
                border-radius: 10px;
                font-size: 14px;
                
                
               
            }
            
            
        }



    }
    .input{
        display: flex;
        justify-content: space-between;
        width: 320px;
        padding: 8px;
        height: 10%;
        box-sizing: border-box;
        
        input{
            flex-grow: 3;
            padding: 8px 15px 8px 15px;
            font-size: 16px;
            border: 3px solid #FAE6B8;
            outline: none;
            border-radius: 20px;
            &:focus{
                background-color: #FAE6B8;
                border: 3px solid #F9BB4D
            }
        }
        .sent{
            cursor: pointer;
            width: auto;
            height: 100%;
            padding: 0px 10px;
            
        }
        
    }

    
}

.error{
    display: none;
    z-index: 6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    padding: 8px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color:#fff;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
    // position: relative;
    @include mem_item(320px,'',5%,0px,'');
    @include md{
        height: 60%;
    }
    @include m{
        height: 80%;
    }


    .info{
        font-weight: 600;
        width: 320px;
        padding:8px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        border-top-left-radius:7px;
        border-top-right-radius:7px;
        background-color: #FAE6B8;

        height: 10%;
        // border-bottom: 2px solid rgba(0, 0, 0, 0.2);
        
        .error_title{
            margin: auto;
            padding: 5px;
            
        }
        .cancel{
            cursor: pointer;
            display: flex;
            span{
                position: absolute;
                right: 10px;
                top:18px;
                display: inline-block;
                width: 20px;
                height: 3px;
                border-radius: 1px;
                background-color: #F9BB4D;
            };
            :nth-child(1){
                transform:  rotate(45deg);
            }
            :nth-child(2){
                transform:  rotate(-45deg);
            }
        }

    }

    .error_content{
        height: 80%;
        padding: 10px 0px;
        box-sizing: border-box;
        font-size: 14px;
        overflow: overlay;

        :nth-child(n){
            padding: 0px 0px 5px 0px;
            box-sizing: border-box;
            
        }
        form{
            height:100% ;
            input{
                outline: none;
            }
            .msg{
                color: rgba(0, 0, 0, 0.6);
            }
            .error_txt{
                padding: 10px 0px 5px 0px;
                box-sizing: border-box;
                color: rgba(0, 0, 0, 0.6);
            }
    
            .error_h{
                border-radius: 3px;
                box-sizing: border-box;
                padding: 3px;
                width: 100%;
                border: 3px solid #FAE6B8;
                &:focus{
                    border: 3px solid #F9BB4D
                }
            }
    
            .error_msg{
                border-radius: 5px;
                box-sizing: border-box;
                padding: 3px;
                width: 100%;
                border: 3px solid #FAE6B8;
                outline: none;
                resize: none;
                overflow-y: hidden;
                min-height: 20%;
                &:focus{
                    border: 3px solid #F9BB4D
                }
            }
    
            .label{
                width: 100%;
                .error_img{
                    width: 100%;
                    height: auto;
                    img{
                       max-width: 100%;
                    }
                }
            }


        }
    }

    .check{
        height: 10%;
        display: flex;
        align-items: center;
        #error_submit{
            
            cursor: pointer;
            background-color:#F9BB4D;
            border-radius: 7px;
            color: #fff;
            border: none;
            width: 100%;
            height: 80%;
            &:hover{
                background-color:#F37420;

            }
        }
    }
}






.black{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    
    
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    

    #lightBox{
        
        top:50%;
        left: 50%;
        display: none;
        border-radius: 20px;
        
        padding: 20px;
        background-color: #FAE6B8;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
        display: inline-block;
        position: absolute;
        @include md{padding: 30px;}
        

            //地圖
            .map_lightBox{
                overflow:auto;
                display: none;
                @include lightboxSize($sm_boxW,$sm_boxH,$md_boxW,$md_boxH,$lg_boxW,$lg_boxH,$lg_boxW,$lg_boxH);
                background-color: #A2EBE8;
                border-radius: 10px;
                border: #fff 10px solid ;
                box-sizing: border-box;
               

                img{
                    display: block;
                    margin: auto;
                    vertical-align:bottom;
                    width: auto;
                    height: 100%;
                }
            }



            //換裝
            .closet_lightBox{
                display: none;
                @include lightboxSize($sm_boxW,$sm_boxH,$md_boxW,$md_boxH,$lg_boxW,$lg_boxH,$lg_boxW,$lg_boxH);
                

                .char{
                    width: 100%;
                    height: 75%;
                    display: flex;
                    background-color: #F37420;
                    @include md{
                        height: 70%;
                    }
                    
                    .closet_char_img{
                        display: block;
                        margin: auto;
                        height: 40%;
                        width: auto;
                        vertical-align: bottom;
                        @include md{
                            height: 50%;
                        }
                    }
                }

                .cloth{
                    height: 25%;
                    @include md{
                        height: 30%;
                    }

                    .page{
                        display: flex;
                        height: 30%;
                        position: relative;
                        align-items:flex-end;

                        & div:nth-child(n){
                            position: relative;
                            cursor: pointer;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                            overflow: hidden;
                            background-color: #F37420;
                            border-bottom: none;
                            box-sizing: border-box;
                            height:70%;
                            padding: 0.5% 10%;
                            @include md{
                                padding:0.5% 5%;
                            }
                            img{
                                border: none;
                                width: auto;
                                height: 100%;
                            } 
                        }
                        .tab_hat{
                            // box-shadow: 10px 0px 0px  rgba(51, 51, 51, 0.263);
                            position: relative;
                            left: 0px;
                            z-index: 10;
                           
                        }
                        .tab_dress{
                            // box-shadow: 10px 0px 0px rgba(51, 51, 51, 0.253);
                            position: relative;
                            left: -10px;
                            z-index: 9;
                        }
                        .tab_tool{
                            position: relative;
                            left: -20px;
                            z-index: 8;
                        }
                        #target{
                            padding:0.5% 13%;
                            @include md{
                                padding:0.5% 7%;
                            }
                            background-color: #F9BB4D;
                        }
                        
                    }

                    .item{
                        vertical-align: center;
                        display: flex;
                        height: 70%;
                        box-sizing: border-box;
                        border: #F9BB4D 3px solid;
                        background-color: #F9BB4D;
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;

                        .itemFront{
                            margin: auto;
                            width: 20px;
                            
                            text-align: center;
                            img{
                                
                                width: 100%;
                            }
                        }
                        .itemBack{
                            margin: auto;
                            width: 20px;
                            
                            text-align: center;
                            img{
                                width: 100%;
                            }

                        }



                        .item-wrapper{
                            display: flex;
                            flex-wrap:nowrap;
                            background-color: #FAE6B8;
                            margin: auto;
                            width: 84%;
                            height: 100%;
                            box-sizing: border-box;
                            align-items: center;
                            overflow: hidden;
                            
                        
                            & :nth-child(n){
                                cursor: pointer;
                                flex-shrink:0;
                                background-color: #fff;
                                margin: 1%;
                                height: 80%;
                                border-radius: 10px;
                                overflow: hidden;
                                &:hover{
                                    box-shadow: inset 0px 0px 50px #F9BB4D;
                                }
                                
                                img{
                                    width: auto;
                                    height: 100%;
                                
                                }
                            }
                        }   
                    }

                }
            }


            

            //變更密碼
            .bed_lightBox{
                overflow:auto;
                display: none;
                @include lightboxSize($sm_boxW,$sm_boxH,$md_boxW,$md_boxH,$md_boxW,$md_boxH,$md_boxW,$md_boxH);
                width: 100%;

                
                .bed_title{
                    font-size: 20px;
                    padding: 20px;
                    text-align: center;
                    margin: auto;
                }

                .bed_content{
                    width: 100%;
                    
                    padding: 10px 20px 15px 20px;
                    box-sizing: border-box;
                    p{
                        padding: 10px 0px;
                    }
                    input{
                        width: 100%;
                        padding: 7px;
                        box-sizing: border-box;
                        background-color: #F9BB4D;
                        border:none;
                        &:focus{
                            outline: none;
                        }
                    }
                }

                .check_button{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    button{
                        @include btn;
                        margin: 10px;
                        padding: 6px 15px;
                        font-size: 13px;
                    }
                }

                
            

            }

            .box1_lightBox{
                overflow:auto;
                display: none;
                @include lightboxSize($sm_boxW,$sm_boxH,$md_boxW,$md_boxH,$lg_boxW,$lg_boxH,$lg_boxW,$lg_boxH);
                position: relative;

                .box_title{
                    position: sticky;
                    top:0;
                    text-align: center;
                    padding: 15px;
                    font-size: 22px;
                    font-weight: 600;
                    color: #F37420;
                    background-color: #FAE6B8;
                }
                .buy_list{
                    overflow:auto;
                    width: 100%;

                    thead{
                        background-color: #F9BB4D;
                        position: sticky;
                        top:52px;
                        th{
                            padding:15px 3px;
                            box-sizing: border-box;
    
                        }

                    }

                    tbody{
                        tr{
                            box-sizing: border-box;
                            border-bottom: #F9BB4D 1px solid;
                            td{
                                text-align: center;
                                padding: 10px 3px;
                                box-sizing: border-box;

                            }
                    }
                }

                }

                
                

            }

            //學習紀錄
            .desk_lightBox{
                overflow:auto;
                display: none;
                @include lightboxSize($sm_boxW,$sm_boxH,$md_boxW,$md_boxH,$lg_boxW,$lg_boxH,$xl_boxW,$xl_boxH);
                padding: 15px;

                .desk_lightBox_content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    .menu{
                        min-width: 16%;
                        flex-grow: 0.5;
                        overflow: overlay;
                        // border-right:2px solid rgba(0, 0, 0, 0.3);
                        .menu_title{
                            font-size: 22px;
                            padding: 30px 10px;
                            text-align: center;
                            color:  #F37420;
                            font-weight: 600;
                        }
                        .learn_item{
                            
                            .alphabet{
                                padding: 7px 0px;
                                
                                .alphabet_title{
                                    @include learnItem
                                }
                                .alphabet_item{
                                    width: 50%;
                                    padding: 5px;
                                    margin: auto;
                                    text-align: center;
                                    box-sizing: border-box;
                                    border: 3px solid #FAE6B8;
                                    &:hover{
                                        border-bottom : 3px solid #F9BB4D;
                                    }

                                }

                            }
                            .word{
                                padding: 7px 0px;
                                
                                .word_title{
                                    @include learnItem
                                }
                                .word_item{
                                    width: 50%;
                                    padding: 5px;
                                    margin: auto;
                                    text-align: center;
                                    box-sizing: border-box;
                                    border: 3px solid #FAE6B8;
                                    &:hover{
                                        border-bottom : 3px solid #F9BB4D;
                                    }
                                }
                            }
                            .talk{
                                padding: 7px 0px;
                                
                                .talk_title{
                                    @include learnItem
                                }
                                .talk_item{
                                    width: 50%;
                                    padding: 5px;
                                    margin: auto;
                                    text-align: center;
                                    box-sizing: border-box;
                                    border: 3px solid #FAE6B8;
                                    &:hover{
                                        border-bottom : 3px solid #F9BB4D;
                                    }
                                }
                            }

                        }

                    }
                    
                    .page{
                        overflow: overlay;
                        box-sizing: border-box;
                        padding: 0px 10px 10px 10px;
                        flex-grow: 2;
                        max-width: 42%;
                        position: relative;
                        border-left:2px solid rgb(175, 175, 175);

                        .page_title{
                            background-color: rgb(175, 175, 175);
                           
                            padding: 0px 5px 20px 5px;
                            position: sticky;
                            top:0;
                            display: flex;
                            vertical-align: middle;
                        }
                        .item_title{
                            padding: 5px;
                        }
                        .txt{
                            padding: 0px 5px 13px 5px;
                        }
                    }



                }
            }


            




    }
    
    .backTo{
        z-index: 1;
        cursor: pointer;
        text-align: center;
        position: absolute;
        left: -20px;
        top:20px;
        width: 70px;
        font-size: 24px;
        color: #fff;
        border: #fff solid 3px;
        border-radius: 5px;
        background-color: #F9BB4D
    }

}


