#test_input{
    display: none;
}

.test_wrap{
    width: 100%;
    margin: auto;
    margin-top: 10%;
    padding: 30px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media screen and (max-width : 450px){
        padding: 30px 3px;
    } 

    //---------- 裝飾用背景 ---------//
    background-repeat: no-repeat;

    //----- 手機用背景 -----//
    @media screen and (max-width : $md_breakpoint) {
        background-image:
        // 第三座島的背景
        url("../images/home_island_inwater_3.png"),url("../images/home_lesson_island2.png"),url("../images/home_island_inwater_4.png"),

        // 第二座島的背景
        url("../images/home_island_inwater_3.png"),url("../images/home_lesson_island2.png"),url("../images/home_island_inwater_2.png"),
        
        // 第一座島的背景
        url("../images/home_lesson_island3.png"),url("../images/home_island_inwater_4.png")
        ;

        background-position: 
        // 第三座島的背景位置
        right 11% top 100%,right 240px top 105%,right 30px top 75%,

        // 第二座島的背景位置
        right 0% top 62%,right 240px top 55%,right 10px top 30%,

        // 第一座島的背景位置
        right 240px top 5%,right 30% top 1%
        ;

    }

    @include md{
        
        background-image:
        // 第三座島的背景
        url("../images/home_lesson_island.png"),url("../images/home_island_inwater_4.png"),
        
        // 第二座島的背景
        url("../images/home_island_inwater_1.png"),

        // 第一座島的背景
        url("../images/home_lesson_island.png"),url("../images/home_island_inwater_3.png"),url("../images/home_island_inwater_4.png")
        ;

        background-position: 
        // 第三座島的背景位置
        right -15% top 105%,right 10% top 80%,

        // 第二座島的背景位置
        left 18% top 60%,

        // 第一座島的背景位置
        right -10% top -1%,right 5% top 30%,left 8% top 40%
        ;

        background-size: 
        // 第三座島的背景大小
        45%,14%,

        // 第二座島的背景大小
        13%,

        // 第一座島的背景大小
        40%,10%,15%
        ;
    }

    @media screen and (max-width : 450px){
        background-image:
        // 第三座島的背景
        url("../images/home_island_inwater_3.png"),url("../images/home_lesson_island2.png"),url("../images/home_island_inwater_4.png"),

        // 第二座島的背景
        url("../images/home_island_inwater_3.png"),url("../images/home_lesson_island2.png"),url("../images/home_island_inwater_2.png"),
        
        // 第一座島的背景
        url("../images/home_lesson_island3.png"),url("../images/home_island_inwater_4.png")
        ;

        background-position: 
        // 第三座島的背景位置
        left 60% top 100%,right 230px top 105%,right -50px top 80%,

        // 第二座島的背景位置
        right 15% top 65%,right 230px top 55%,right 10px top 30%,

        // 第一座島的背景位置
        right 230px top 5%,right 50% top 1%
        ;
    } 

    
    //---------- 裝飾用背景結束 ---------//

}

.test_h2{
    font-size: 36px;
    color: map-get($color, 'backstage_h');
    text-align: center;
}



/* ----------------------------- */
/*---------- 選擇測驗 ----------*/
/* ----------------------------- */

.test_section{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 30%;
    display: flex;
    justify-content: flex-start; 
    gap: 30px;
    position: relative;

    @media screen and (max-width : 450px){
        padding-bottom: 35%;
    }

    @include md{  
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.test_pic{
    width: 100px;

    @include md{
        width: 60%;
    }
}

.test_pic img{
    width: 100%;
    border-radius: 20px;
    transform: scale(-1,1);
}

#test_50_pic_s{
    display: block;
    @include md{
        display: none;
    }
}

#test_50_pic_l{
    display: none;
    @include md{
        display: block;
        position: relative;
        left: 50px;
    }
}

.test_section_content{
    width: 60%;
    position: absolute;
    right: 30px;
    border-radius: 30px;
    background-color: map-get($color, 'primary');
    // color: #fff;
    // background-color: #FFF;
    z-index: 4;

    
    @media screen and (max-width : 450px){
        right: 5px;
        font-size: 24px;
    } 

    @include md{
        width: 40%;
        position: absolute;
        left: auto;
        right: 8%;
        top: 35%;
        
    }

    @include lg{
        width: 30%;
        right: 20%;
    }

    @include xl{
        right: 23%;
    }
    
    &::before{
        content: '';
        position: absolute;
        left: -30px;
        top: 35px;
        border-right: 30px solid  map-get($color, 'primary');
        // border-right: 30px solid #FFF;
        border-top: 10px solid  transparent;
        border-bottom: 10px solid  transparent;
    }

    &:hover {
        background: map-get($color, 'backstage_h');
    }

    &:hover::before {
        border-right: 30px solid map-get($color, 'backstage_h');
    }
    
    &>input{
        position: absolute;
        opacity: 0;
    }
}

.test_tab{
    padding: 15px;

    // @media screen and (max-width : 450px){
    //     padding: 1px 25px;
    // } 

    &>label{
        padding-top: 13px;
        padding-bottom: 18px;
        display: flex;
        font-size: map-get($fontSize, 'h2');
        // font-weight: bold;
        cursor: pointer;
    }

    &_content {
        overflow: hidden;
        background: white;
        border-radius: 20px;
        height: 0;
        padding: 0em;
        color: #000;
        transform: scale(1,0);
        transform-origin: 0px 0px;
        transition: all .3s;

    }
}

.test_tab_label::after {
    content: "\276F";
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    font-size: map-get($fontSize, 'h2');
    text-align: center;
    transition: all .35s;
    transform-origin: 20px 10px;

    
    @media screen and (max-width : 450px){
        width: 30px;
        height: 30px;
        right: 5px;
        transform-origin: 15px 15px;
    } 
}

// checked：打開對話選項 //
.test_section_content{

    &>input:checked+.test_tab>.test_tab_label::after{
        transform: rotate(90deg);
    }
    &>input:checked ~ .test_tab_content {
        max-height: 100vh;
        padding: 1em;
      }

    &>input:checked + .test_tab>.test_tab_content {
        height: auto;
        transform: scale(1,1);
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
}

.test_option{
    padding: 10px 0px 10px 10px;
    text-align: left;
    border: none;
    color: #000;
    background-color: #fff;
    border-radius: 10px;

    &::before{
        content: '\25B6';
        font-size: 10px;
        padding-right: 5px;
    }

    &:hover{
        cursor: pointer;
        background-color: map-get($color, 'bgc_y');
    }
}

// 調整版面位置 //

.test_section{
    

    @include md{
        // &:nth-child(even){
        //     left:80px;
        // }

        &:nth-child(odd)>.test_pic img{
            transform: scale(1,1);
        }

        &:nth-child(odd){
            justify-content: flex-end;
            right: 80px;
        }

        &:nth-child(odd)>.test_section_content{
            right: auto;
            top: 45%;
            left: 100px;
        }

        &:nth-child(odd)>.test_section_content::before{
            left: auto;
            right: -30px;
            transform: rotate(180deg);
        }

        &:last-child>.test_section_content{
            top: 45%;
            right: 10%;
        }
    }

    @include lg{
        
        &:nth-child(odd)>.test_section_content{
            left: 25%;
        }

        &:last-child>.test_section_content{
            right: 25%;
        }
    }

    @include xl{
        &:nth-child(odd)>.test_section_content{
            top: 45%;
            left: 25%;
        }

        &:last-child>.test_section_content{
            right: 27%;
        }
    }
}


/* ----------------------------- */
/* ---------- 測驗燈箱 ---------- */
/* ----------------------------- */


.test_lightBox_bg{
    display: none;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    // z-index: 10;
    z-index: 5000;
}

#test_confirm_box{
    max-width: 300px;
    max-height: 300px;
    padding: 40px 30px;
    box-sizing: border-box;
    background-color:  map-get($color, 'bgc_y');
    border: 5px solid map-get($color, 'primary');
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & .test_confirm_title,p{
        font-size: 20px;
        text-align: center;
    }

    & .test_confirm_title{
        padding-bottom: 30px;
    }
}

#test_choose{
    padding: 30px 0px;
    text-align: center;
    font-size: 36px;
    color: map-get($color, 'backstage_h');
    font-weight:bold;
}
.test_btn{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: map-get($color, 'primary');
    border-radius: 30px;

    &:hover{
        cursor: pointer;
        background: map-get($color, 'backstage_h');
    }
}

#test_lightBox{
    width: 80%;
    max-width: 500px;
    max-height: 400px;
    padding: 30px;
    padding-top: 60px;
    background-color:  map-get($color, 'bgc_y');
    border: 5px solid map-get($color, 'primary');
    border-radius: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    // display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;

    @include lg{
        display: none;
        max-height: 500px;
    }
}

.test_lightBox_close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    
    &:hover{
        cursor: pointer;
    }
}

#test_progress{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    transition: all ease .3s;

    &_title{
        font-weight: bold;
        color: map-get($color, 'backstage_h');
    }

    &_bar{
        width: 70%;
        height: 20px;
        margin: auto;
        background-color: #fff;
        border: 1px solid rgb(138, 138, 138);
        border-radius: 10px;
        position: relative;
    }

    &_now{
    width: 0%;
    height: 20px;
    background-color:  map-get($color, 'primary');
    border-radius: 10px;
    }

    &_chara{
        width: 50px;
        transform: scale(-1,1);
        position: absolute;
        top: -25px;
        left: -10%;
        // left: 90%;
        animation: test_chara_jump .3s ease-in 0s infinite alternate;
    }

    &_chara img{
        width: 100%;
        vertical-align: bottom;
    }
}

@keyframes test_chara_jump {
    from {
        top: -27px;
    }
    to {
        top: -23px;
    }
}

#test_score_now_wrap{
    width: 100%;
    padding: 0px 2px 40px;
    text-align: center;
    // font-weight: bold;
    font-size: 24px;
    color: map-get($color, 'backstage_h');
}

.test_question{
    display: none;
    padding: 20px;
    padding-top: 60px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width : 450px){
        padding-top: 30px;
    }

    &_title{ 
    font-size: 36px;
    color: map-get($color, 'backstage_h');
    text-align: center;
    }

    &_options{
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    &_option{
        width: 40%;
        padding: 10px 20px;
        font-size: 28px;
        border: none;
        background-color: map-get($color, 'primary');
        color: #fff;
        border-radius: 30px;

        &:hover{
            cursor: pointer;
            background-color: map-get($color, 'backstage_h');
        }
    }
}

// ----- 測驗結果 -----//
// #test_lightBox_question{
     // display: none;
// }

#test_lightBox_result{
    display: none;
    text-align: center;
}

.test_result{

    &_title{
        font-size: 36px;
        color: map-get($color, 'backstage_h');
    }
    
    &_wrap{
        padding-top: 80px;

        @media screen and (max-width : 450px){
            padding-top: 40px;
        }
    }

    &_row{
        padding: 10px;
        font-size: 20px;
    }

    &_row:first-child{
        padding-bottom: 20px;
        font-size: 28px;
    }

    &_row:last-child{
        padding-bottom: 80px;

        @media screen and (max-width : 450px){
            padding-bottom: 40px;
        }
    }
}

#test_result_save{
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: map-get($color, 'primary');
    border-radius: 30px;

    &:hover{
        cursor: pointer;
        background: map-get($color, 'backstage_h');
    }
}


#test_add_point{
    color: map-get($color, 'backstage_h');
    color: #1A9070;
    color: #000;
    font-size: 32px;
    position: absolute;
    opacity: 0;
    font-weight: bold;
    transition: .1s;
    z-index: 20;
}

.test_wrong_option{
    background-color: red;

    &:hover{
        background-color: red;
    }
}

// 暫時偷歡迎頁的雲來用 //

.test_cloud_1 {
    position: absolute;
    left: 0%;
    width: 30%;
    animation: test_cloud_1 1s linear 0s infinite alternate;
    z-index: 3;

    @media screen and (max-width : $md_breakpoint){
        display: none;
    }

    @include md {
        left: -10%;
    }
  }

@keyframes test_cloud_1 {
    from {
        top: 2%;
    }
    to {
        top: 0%;
    }
}

.test_cloud_2 {
    position: absolute;
    right: -10%;
    width: 30%;
    animation: test_cloud_2 0.8s ease-in-out 0s infinite alternate;
    z-index: 3;

    @media screen and (max-width : $md_breakpoint){
        display: none;
    }

    @include md {
        right: -15%;
    }
  }

@keyframes test_cloud_2 {
    from {
        top: -3%;
    }
    to {
        top: -5%;
    }
}

.test_cloud_3 {
    position: absolute;
    left: 0%;
    width: 25%;
    animation: test_cloud_3 1s ease-in-out 0s infinite alternate;
    z-index: 3;

    @media screen and (max-width : $md_breakpoint){
        display: none;
    }

    @include md {
        right: -10%;
    }
  }

@keyframes test_cloud_3 {
    from {
        top: 25%;
    }
    to {
        top: 23%;
    }
}

.test_cloud_4 {
    position: absolute;
    right: 10%;
    width: 30%;
    transform: scale(-1,1);
    animation: test_cloud_4 0.8s ease-in-out 0s infinite alternate;
    z-index: 3;

    @media screen and (max-width : $md_breakpoint){
        display: none;
    }

    @include md {
    }
  }

@keyframes test_cloud_4 {
    from {
        top: 0%;
    }
    to {
        top: 2%;
    }
}

.test_cloud_1 img,.test_cloud_2 img,.test_cloud_3 img,.test_cloud_4 img{
    width: 100%;
}