// ================== 變數 ============================

// 內容寬度
$wrapRwd:90%;  //rwd
$wrapDesktop:1200px; //電腦版


// map 數值型態

$color: (
    'bgc_y' : #FAE6B8,
    'primary' : #F9BB4D,
    'bgc_b':#A2EBE8,
    'backstage_h':#F37420
);

// 文字大小
$fontSize:(
  'h1':36px,
  'h2':32px,
  'h3':28px,
  'h4':24px,
  'h5':20px,
  'h6':18px,
  '.box':20px   //對話框
);

// 字型
$fontCh:Noto Sans TC, sans-serif;
$fontJpan:Noto Sans JP, sans-serif;




//path
$path:dist/images;

//斷點

$md_breakpoint : 768px;
$lg_breakpoint : 992px;
$xl_breakpoint : 1200px;
