.backStage_footer_qData {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: static;
}

.currentPage{
    color: map-get($color, 'backstage_h');
    cursor: default;
    &:hover{
        cursor: default;
    }
}

.backStage_lightBox_des{
    padding: 5px 0px 10px;
    margin-bottom: 20px;
    line-height: 20px;
    border-bottom: 1px solid map-get($color, 'backstage_h');
}