.backStage_nav{
    width: 15%;
    height: 100vh;
    background-color: map-get($color , bgc_y );
    z-index: 20;
    // flex-grow: 1; //上線用的

    .backStage_nav_list{
        height: 100%;
        display: flex;
        flex-direction: column;

        li{
            width: 100%;
            // padding: 15% 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        a{
            text-decoration: none;
            font-family: $fontCh;
            font-size: 1.2rem;
            color: #000;
        }
    }
}

// 三角形
// .triangle{
//     width: 50%;
//     height: 50%;
//     background-color: #fff;
//     clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
//     position: absolute;
//     bottom: 18%;
//     right: 0;
// }

// 帳號管理
.backAccount ul .nav_list:first-child{
    background-color: #F9BB4D;
}
.backAccount ul li:nth-of-type(1) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 會員管理
.backMem ul .nav_list:nth-child(2){
    background-color: #F9BB4D;
}
.backMem ul li:nth-of-type(2) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 課程管理
.backCourse ul .nav_list:nth-child(4){
    background-color: #F9BB4D;
}
.backCourse ul li:nth-of-type(4) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 裝備管理
.backItem ul .nav_list:nth-child(5){
    background-color: #F9BB4D;
}
.backItem ul li:nth-of-type(5) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 文章管理
.backArticle ul .nav_list:nth-child(7){
    background-color: #F9BB4D;
}
.backArticle ul li:nth-of-type(7) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 交易列表
.backTradeList ul .nav_list:nth-child(6){
    background-color: #F9BB4D;
}
.backTradeList ul li:nth-of-type(6) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 異常通報
.backReport ul .nav_list:nth-child(8){
    background-color: #F9BB4D;
}
.backReport ul li:nth-of-type(8) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

// 題目清單(管理員)
.backOption ul .nav_list:nth-child(3){
    background-color: #F9BB4D;
}
.backOption ul li:nth-of-type(3) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}

// --------------------------------------------------

//諮詢管理(管理員)
.backAsk ul .nav_list:nth-child(9){
    background-color: #F9BB4D;
}
.backAsk ul li:nth-of-type(9) .triangle{
    width: 50%;
    height: 50%;
    background-color: #fff;
    clip-path: polygon(100% 10%, 70% 40%, 100% 76%);
    position: absolute;
    bottom: 18%;
    right: 0;
}