#header_menu_switch{
  position: absolute;
  left: -1000px;
}
#header_menu_switch:checked ~ header .header_main_nav{
  top: 40px;
}

header{
  width: 100%;
  background-image: url(../../images/nav_cloud.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  // background-color: orange;
  position: relative;

  .header_wrap{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    .header_main_nav{
      position: absolute;
      background-color: cornflowerblue;
      top: -150px;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      transition: top .6s;
      z-index: -1;
      // height: 100px;

      a{
        display: block;
        text-decoration: none;
        padding: 10px 30px;
        color: white;
      }
    }
    .header_hb{
      width: 40px;
      height: 40px;
      background-color: chartreuse;
      position: relative;

      span{
        position: absolute;
        left: 0;
        right: 0;
        width: 32px;
        height: 2px;
        background-color: blue;
        margin: auto;
      }
      span:first-child{
        top: 11px;
      }
      span:nth-child(2){
        top: 0;
        bottom: 0;
      }
      span:last-child{
        bottom: 11px;
      }
    }

    .header_logo{
      width: 30%;
  
      img{
        width: 100%;
      }
    }
    .header_login_money{
      display: flex;

      .header_money{
        display: flex;
      }
    }
  }
}

