<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "後台諮詢管理-管理員用"
    })
</head>
<body class="backAsk" style="background-color: #fff;">
    <!-- header -->
    @@include('layout/backStage_header.html')
    <!-- header end -->

    <!-- 後台左右邊內容 -->
    <div id="backStageID" class="backStage_main_container">
        <div class="backStage_main_content">
            <!-- 後台左方選單 -->
            @@include('layout/backStage_nav.html')

            <div class="backStage_right_part" id="admin_app">
                <div class="backStage_right_content">
                    <div class="backStage_right_title_part">
                        <div class="backStage_right_title">
                            <h1>諮詢管理</h1>
                        </div>
                        <div class="backStage_filter backStage_addAccount">
                            <button class="lightBox_btn" @click="show"><i class="bi bi-funnel-fill"></i>條件篩選</button>
                        </div>
                        <div class="backStage_input_filter">
                            <div class="input_filter">
                                <input type="text" placeholder="以會員編號查詢">
                                <i class="bi bi-search"></i>
                            </div>
                            <div class="backStage_search">
                                <button class="backStage_search_btn">
                                    查詢
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="backStage_right_table_part">
                        <table class="account_table_title table_title" >
                            <tr class="table_header_row">
                                <th>會員編號</th>
                                <th>會員名稱</th>
                                <th>對話時間</th>
                            </tr>
                            <template v-for="item in userInfo">
                                <tr is="component-admin-back-chatList" v-bind="item"
                                @click.native="dataImport"></tr>
                            </template>
                        </table>
                        <div class="backStage_chat_part">
                            <div class="backStage_chat_content">
                                <div class="backStage_student_block">
                                    <template>
                                        <div is="component-admin-back-chat-thisUser" v-bind="chatRows"></div>
                                    </template>
                                    <!-- <div class="backStage_student_name">
                                        <div class="backStage_student_head">
                                            <img src="./images/studyMap_NPC_o.png" alt="">
                                        </div>
                                        <div class="student_name_level">
                                            <span>周阿倫</span>
                                            <span>初心者</span>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="chat_message_block" id="chatroom">
                                    <template v-for="item in chatRows">
                                        <div is="component-admin-back-chatroom" v-bind="item"></div>
                                    </template>
                                    <!-- <div class="backStage_chat_student">
                                        <div class="student_img">
                                            <img src="./images/studyMap_NPC_o.png" alt="">
                                        </div>
                                        <div class="student_chat">
                                            <p>您好，我想請教N5會話的第10題?</p>
                                        </div>
                                    </div>
                                    <div class="backStage_chat_teacher">
                                        <div class="teacher_chat">
                                            <p>您好，我是語實巨進的老師木村，很高興為您服務。</p>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="backStage_chat_input">
                                    <form action="" method="post">
                                        <input type="text" readonly>
                                        <button id="info_send" type="submit">送出</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 新增帳號燈箱 -->
            <div class="backStage_lightBox">
                <div class="backStage_lightBox_container">
                    <div class="backStage_lightBox_content">
                        <div class="backStage_lightBox_title">
                            <h3>新增帳號</h3>
                        </div>
                        <div class="backStage_lightBox_close" @click="hide">
                            <i class="bi bi-x-lg"></i>
                        </div>
                        <div class="backStage_lightBox_main_content">
                            <form action="">
                                <div class="administrator_sm_block">
                                    <label for="administrator_sm">管理員編號</label>
                                    <input type="text" id="administrator_sm">
                                </div>
                                <div class="account_block">
                                    <label for="account">帳號</label>
                                    <input type="text" id="account">
                                </div>
                                <div class="account_title_block">
                                    <label for="account_title">帳號名稱</label>
                                    <input type="text" id="account_title">
                                </div>
                                <div class="phone_block">
                                    <label for="cellphone">手機</label>
                                    <input type="text" id="cellphone">
                                </div>
                                <div class="account_state_block">
                                    <label for="account_state">帳號狀態</label>
                                    <select name="" id="account_state">
                                        <option value="active">啟用</option>
                                        <option value="stop">停用</option>
                                    </select>
                                </div>
                                <div class="user_block">
                                    <label for="user">使用者角色</label>
                                    <select name="" id="user">
                                        <option value="administrator">管理員</option>
                                        <option value="teacher">教師</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="backStage_lightBox_saveBtn">
                            <button type="submit" class="data_save">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- @@include('layout/backStage_footer.html') -->
        </div>
    </div>

    <script src="./js/backStage_ask.js"></script>

</body>
</html>