<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "後台課程管理"
    })
</head>
<body class="backCourse backStyle" style="background-color: #fff;">
    <!-- header -->
    @@include('layout/backStage_header.html')
    <!-- header end -->

    <!-- 後台左右邊內容 -->
    <div id="backStageID" class="backStage_main_container">
        <div class="backStage_main_content">
            <!-- 後台左方選單 -->
            @@include('layout/backStage_nav.html')

            <div class="backStage_right_part">
                <div class="backStage_right_content">
                    <div class="backStage_right_title_part">
                        <div class="backStage_right_title">
                            <h1>課程管理</h1>
                        </div>
                        <div class="backStage_filter backStage_addAccount">
                            <button class="lightBox_btn" @click="show"><i class="bi bi-plus-lg"></i></i>新增課程</button>
                        </div>
                        <div class="backStage_input_filter">
                            <div class="on_stock">
                                一頁總共顯示
                                <input type="number" min="1" max="4" v-model="data_perPage" class="data_perPage" @change="change_dataPerPage"/>
                                筆資料
                            </div>
                            <div class="input_filter">
                                <input type="text" placeholder="輸入課程編號或關鍵字" v-model="search" @change="search_txt"/>
                                <i class="bi bi-search"></i>
                            </div>
                            <div class="backStage_search">
                                <button class="backStage_search_btn" @click="search_txt">
                                    查詢
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="backStage_right_table_part">
                        <table class="account_table_title table_title">
                            <tr class="table_header_row">
                                <th>課程編號</th>
                                <th>課程圖片</th>
                                <th>課程名稱</th>
                                <th>課程描述</th>
                                <th>課程價格</th>
                                <th>課程狀態</th>
                                <th></th>
                            </tr>
                            <tr class="table_data_row odd" v-for="lessonRow in lessonRows">
                                <td>{{lessonRow.lesson_id}}</td>
                                <td><img src="./images/payement_map.png" alt=""></td>
                                <td>{{lessonRow.lesson_name}}</td>
                                <td>{{lessonRow.lesson_info}}</td>
                                <td>{{lessonRow.lesson_price}}</td>
                                <td>{{lessonRow.lesson_status}}</td>
                                <td><button class="lightBox_btn edit_btn" @click="show">編輯課程</button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- 表格底下的頁數 -->
                <footer class="backStage_footer backStage_footer_qData">
                    <ul class="footer_list">
                        <li class="arrow double-left" :class="arrow_disable_l(current_page)">
                            <i class="bi bi-chevron-double-left" :class="arrow_i_disable_l(current_page)" @click="toPage(1)"></i>
                        </li>
                        <li class="arrow arrow_left" :class="arrow_disable_l(current_page)">
                            <i class="bi bi-chevron-left" :class="arrow_i_disable_l(current_page)" @click="toPage(current_page-1)"></i>
                        </li>
                        <li class="page_num" v-for="page in all_pages" @click="toPage(page)" :class="page_now(page)">
                            {{page}}
                        </li>
                        <li class="arrow arrow_right" :class="arrow_disable_r(current_page)">
                            <i class="bi bi-chevron-right" :class="arrow_i_disable_r(current_page)" @click="toPage(current_page+1)"></i>
                        </li>
                        <li class="arrow double-right" :class="arrow_disable_r(current_page)">
                            <i class="bi bi-chevron-double-right" :class="arrow_i_disable_r(current_page)" @click="toPage(all_pages.length)"></i>
                        </li>
                    </ul>
                </footer>
            </div>
            
            <!-- 新增帳號燈箱 -->
            <div class="backStage_lightBox">
                <div class="backStage_lightBox_container">
                    <div class="backStage_lightBox_content">
                        <div class="backStage_lightBox_title">
                            <h3>新增課程</h3>
                        </div>
                        <div class="backStage_lightBox_close" @click="hide">
                            <i class="bi bi-x-lg"></i>
                        </div>
                        <div class="backStage_lightBox_main_content">
                            <form action="">
                                <!-- <div class="course_sm_block">
                                    <label for="course_sm">課程編號</label>
                                    <input type="text" id="course_sm">
                                </div> -->
                                <div class="course_img_block">
                                    <label for="course_img">課程圖片</label>
                                    <input type="file" id="course_img">
                                </div>
                                <div class="course_title_block">
                                    <label for="course_title">課程名稱</label>
                                    <input type="text" id="course_title">
                                </div>
                                <div class="course_descript_block">
                                    <label for="course_descript">課程描述</label>
                                    <input type="text" id="course_descript">
                                </div>
                                <div class="course_price_block">
                                    <label for="course_price">課程價格</label>
                                    <input type="text" id="course_price">
                                </div>
                                <div class="course_state_block">
                                    <label for="course_state">課程狀態</label>
                                    <select name="" id="course_state">
                                        <option value="active">上架</option>
                                        <option value="stop">下架</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="backStage_lightBox_saveBtn">
                            <button type="submit" class="data_save">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let backStage_lesson = new Vue({
            el:'#backStageID',
            data:{
                // 頁面渲染用
                lessonRows:[],
                // 分頁用
                data_perPage:4,
                all_pages:[],
                current_page:1,
                // 搜尋用
                search_arr : [], //查詢的資料
                temp_arr : [], //暫存所有資料
                search:'',
                // 燈箱用
                insert_lesson_type:'',
                insert_data_txt:'',
                insert_data_ans:'',
                insert_data_content1:'',
                insert_data_content2:'',
                insert_data_content3:'',
                // 刪除題目用
                delete_data_id:'',
            },
            methods: {
                page_now(page){
                    if(page == this.current_page){
                        return 'currentPage';
                    }
                },
                arrow_disable_l(){
                    if(this.current_page == 1){
                        return 'arrow_disable';
                    }
                },
                arrow_i_disable_l(){
                    if(this.current_page == 1){
                        return 'arrow_i_disable';
                    }
                },arrow_disable_r(){
                    if(this.current_page == this.all_pages.length){
                        return 'arrow_disable';
                    }
                },
                arrow_i_disable_r(){
                    if(this.current_page == this.all_pages.length){
                        return 'arrow_i_disable';
                    }
                },
                toPage(page){
                    this.current_page = page;
                    //改變表格內容
                    if(this.search == ''){
                            if(page != parseInt((this.temp_arr.length / this.data_perPage)+1)){
                            this.lessonRows = [];
                            for(let i=((page-1)*this.data_perPage);i<=(page*this.data_perPage-1);i++){
                                this.lessonRows.push(this.temp_arr[i]);
                            }
                        }else{
                            this.lessonRows = [];
                            for(let i=((page-1)*this.data_perPage);i<=(this.temp_arr.length-1);i++){
                                this.lessonRows.push(this.temp_arr[i]);
                            }
                        };
                    }else{
                        if(page != parseInt((this.search_arr.length / this.data_perPage)+1)){
                            this.lessonRows = [];
                            for(let i=((page-1)*this.data_perPage);i<=(page*this.data_perPage-1);i++){
                                this.lessonRows.push(this.search_arr[i]);
                            }
                        }else{
                            this.lessonRows = [];
                            for(let i=((page-1)*this.data_perPage);i<=(this.search_arr.length-1);i++){
                                this.lessonRows.push(this.search_arr[i]);
                            }
                        };
                    }
                    
                },
                show(){
                    document.querySelector('.backStage_lightBox').style.display = 'flex';
                },
                hide(){
                    document.querySelector('.backStage_lightBox').style.display = 'none';
                    this.insert_lesson_type = '';
                    this.insert_data_txt='';
                    this.insert_data_ans='';
                    this.insert_data_content1='';
                    this.insert_data_content2='';
                    this.insert_data_content3='';
                },
                change_dataPerPage(){
                    if(this.data_perPage>4 || this.data_perPage<1){
                        alert('請輸入1~5之間的整數');
                        this.data_perPage=4;
                    }else{
                        if(!Number.isInteger(this.data_perPage)){
                            this.data_perPage = parseInt(this.data_perPage);
                        }
                        this.lessonRows = [];
                        this.all_pages =[];
                        //===== 表格分頁 =====//
                        //產出頁數
                        if(this.search == ''){
                            if(this.temp_arr.length < this.data_perPage){
                                this.all_pages.push(1);
                            }else if(this.temp_arr.length % this.data_perPage == 0){
                                for(let i=1;i<=(this.temp_arr.length / this.data_perPage);i++){
                                    this.all_pages.push(i);
                                    console.log(i);
                                };
                                
                                console.log('2');
                            }else{
                                for(let i=1;i<=((this.temp_arr.length / this.data_perPage)+1);i++){
                                    this.all_pages.push(i);
                                    console.log(i);
                                };
                            };
                            
                            //寫入初始表格
                            if(this.temp_arr.length < this.data_perPage){
                                for(let i=0;i<this.temp_arr.length;i++){
                                    this.lessonRows.push(this.temp_arr[i]);
                                };
                            }else{
                                for(let i=0;i<=this.data_perPage-1;i++){
                                    this.lessonRows.push(this.temp_arr[i]);
                                };
                            };
                        }else{
                            if(this.search_arr.length < this.data_perPage){
                                this.all_pages.push(1);
                            }else if(this.search_arr.length % this.data_perPage == 0){
                                for(let i=1;i<=(this.search_arr.length / this.data_perPage);i++){
                                    this.all_pages.push(i);
                                    // console.log(i);
                                };
                            }else{
                                for(let i=1;i<=((this.search_arr.length / this.data_perPage)+1);i++){
                                    this.all_pages.push(i);
                                    // console.log(i);
                                };
                            };
                            //寫入初始表格
                            if(this.search_arr.length < this.data_perPage){
                                for(let i=0;i<this.search_arr.length;i++){
                                    this.lessonRows.push(this.search_arr[i]);
                                };
                            }else{
                                for(let i=0;i<=this.data_perPage-1;i++){
                                    this.lessonRows.push(this.search_arr[i]);
                                };
                            }
                        }
                        
                        this.current_page= 1;
                    }
                },
                search_txt(){
                    console.log('開始查詢');
                    let search = this.search;
                    this.search_arr = [];
                    let reg=new RegExp(search);
                    if(search == ''){
                        this.search_arr = this.temp_arr;
                        console.log('結果空值');
                    }else{
                        this.search_arr = [];
                        for(let i = 0; i<this.temp_arr.length;i++){
                            if(this.temp_arr[i].lesson_id == search){
                                this.search_arr.push(this.temp_arr[i]);
                            }
                            else if(this.temp_arr[i].lesson_name == search){
                                this.search_arr.push(this.temp_arr[i]);
                            }else if(this.temp_arr[i].lesson_info == search){
                                this.search_arr.push(this.temp_arr[i]);
                            }else if(reg.test(this.temp_arr[i].lesson_id) == true){
                                this.search_arr.push(this.temp_arr[i]);
                            }else if(reg.test(this.temp_arr[i].lesson_name) == true){
                                this.search_arr.push(this.temp_arr[i]);
                            };
                        };
                        
                    };
                    this.lessonRows = this.search_arr;

                    //===== 表格分頁 =====//
                    this.all_pages = [];
                    this.current_page = 1;
                    //產出頁數
                    if(this.lessonRows.length < this.data_perPage){
                        this.all_pages.push(1);
                    }else if(this.lessonRows.length % this.data_perPage == 0){
                        for(let i=1;i<=(this.lessonRows.length / this.data_perPage);i++){
                            this.all_pages.push(i);
                        };
                    }else{
                        for(let i=1;i<=((this.lessonRows.length / this.data_perPage)+1);i++){
                            this.all_pages.push(i);
                        };
                    };

                    // //產出初始表格
                    if(this.search_arr == []){
                        if(this.temp_arr.length < this.data_perPage){
                            for(let i=0;i<this.temp_arr.length;i++){
                                this.lessonRows.push(this.temp_arr[i]);
                            };
                        }else{
                            for(let i=0;i<=this.data_perPage-1;i++){
                                this.lessonRows.push(this.temp_arr[i]);
                            };
                        };
                    }else{
                        if(this.all_pages.length>1){
                            this.lessonRows = [];
                            for(let i=0;i<this.data_perPage;i++){
                                this.lessonRows.push(this.search_arr[i]);
                            };
                        };
                    };
                },
            },
            created(){
                //===== 表格資料 =====//
                let xhr = new XMLHttpRequest();
                xhr.onload = () =>{
                    this.temp_arr = JSON.parse(xhr.responseText);
                    // this.lessonRows = JSON.parse(xhr.responseText);
                    // console.log(this.temp_arr);

                    //===== 表格分頁 =====//
                    //產出頁數
                    if(this.temp_arr.length < this.data_perPage){
                        this.all_pages.push(1);
                    }else if(this.temp_arr.length % this.data_perPage == 0){
                        for(let i=1;i<=(this.temp_arr.length / this.data_perPage);i++){
                            this.all_pages.push(i);
                        };
                    }else{
                        for(let i=1;i<=((this.temp_arr.length / this.data_perPage)+1);i++){
                            this.all_pages.push(i);
                        };
                    };
                    //寫入初始表格
                    if(this.temp_arr.length < this.data_perPage){
                        for(let i=0;i<this.temp_arr.length;i++){
                            this.lessonRows.push(this.temp_arr[i]);
                        };
                    }else{
                        for(let i=0;i<=this.data_perPage-1;i++){
                            this.lessonRows.push(this.temp_arr[i]);
                        };
                    };
                }
                xhr.open("get","back_lesson.php",true);
                xhr.send(null);
            }
        })
    </script>

</body>
</html>