<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "後台諮詢管理-教師用"
    })
</head>
<body class="backAsk_Teacher" style="background-color: #fff;">
    <!-- header -->
    @@include('layout/backStage_header.html')
    <!-- header end -->

    <!-- 後台左右邊內容 -->
    <div id="backStageID" class="backStage_main_container">
        <div class="backStage_main_content">
            <!-- 後台左方選單 -->
            @@include('layout/backStage_nav_teacher.html')

            <div class="backStage_right_part">
                <div class="backStage_right_content">
                    <div class="backStage_right_title_part">
                        <div class="backStage_right_title">
                            <h1>諮詢管理</h1>
                        </div>
                        <div class="backStage_filter backStage_addAccount">
                            <button class="lightBox_btn" @click="show"><i class="bi bi-funnel-fill"></i>條件篩選</button>
                        </div>
                        <div class="backStage_input_filter">
                            <div class="input_filter">
                                <input type="text" placeholder="以會員編號查詢">
                                <i class="bi bi-search"></i>
                            </div>
                            <div class="backStage_search">
                                <button class="backStage_search_btn">
                                    查詢
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="message_list_img_name" class="backStage_right_student_list">
                        <div class="student_list_content">
                            <div class="list_title">
                                <div class="list_title_content">
                                    <h3>對話記錄</h3>
                                </div>
                            </div>
                            <div class="message_list">
                                <div class="message_list_content">
                                    <div class="message_list_info" id="message_list_info">
                                        <template v-for="item in userInfo">
                                            <div is="component-back-chat" v-bind="item"
                                            @click.native="dataImport" ></div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="backStage_chat_part">
                            <div class="backStage_chat_content">
                                <div class="backStage_student_block">
                                    <template >
                                        <div is="component-back-chat-thisUser" v-bind="chatRows"></div>
                                    </template>
                                </div>
                                <div class="chat_message_block" id="chatroom">
                                    <template v-for="item in chatRows">
                                        <div is="component-back-chatroom" v-bind="item"></div>
                                    </template>
                                </div>
                                <div class="backStage_chat_input">
                                    <form method="post" @keydown.enter="reply">
                                        <input type="text" id="inputTxt" >
                                        <button id="info_send" type="button" @click="reply">送出</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- 新增帳號燈箱 -->
            <div class="backStage_lightBox">
                <div class="backStage_lightBox_container">
                    <div class="backStage_lightBox_content">
                        <div class="backStage_lightBox_title">
                            <h3>新增帳號</h3>
                        </div>
                        <div class="backStage_lightBox_close" @click="hide">
                            <i class="bi bi-x-lg"></i>
                        </div>
                        <div class="backStage_lightBox_main_content">
                            <form action="">
                                <div class="administrator_sm_block">
                                    <label for="administrator_sm">管理員編號</label>
                                    <input type="text" id="administrator_sm">
                                </div>
                                <div class="account_block">
                                    <label for="account">帳號</label>
                                    <input type="text" id="account">
                                </div>
                                <div class="account_title_block">
                                    <label for="account_title">帳號名稱</label>
                                    <input type="text" id="account_title">
                                </div>
                                <div class="phone_block">
                                    <label for="cellphone">手機</label>
                                    <input type="text" id="cellphone">
                                </div>
                                <div class="account_state_block">
                                    <label for="account_state">帳號狀態</label>
                                    <select name="" id="account_state">
                                        <option value="active">啟用</option>
                                        <option value="stop">停用</option>
                                    </select>
                                </div>
                                <div class="user_block">
                                    <label for="user">使用者角色</label>
                                    <select name="" id="user">
                                        <option value="administrator">管理員</option>
                                        <option value="teacher">教師</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="backStage_lightBox_saveBtn">
                            <button type="submit" class="data_save">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- @@include('layout/backStage_footer.html') -->
        </div>
    </div>

    <script src="./js/backStage_ask_teacher.js"></script>

</body>
</html>