<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "後台文章管理"
    })
</head>
<body class="backArticle backStyle" style="background-color: #fff;">
    <!-- header -->
    @@include('layout/backStage_header.html')
    <!-- header end -->

    <!-- 後台左右邊內容 -->
    <div id="backStageID" class="backStage_main_container">
        <div class="backStage_main_content">
            <!-- 後台左方選單 -->
            @@include('layout/backStage_nav.html')
            <div class="backStage_right_part">
                <div class="backStage_right_content">
                    <div class="backStage_right_title_part">
                        <div class="backStage_right_title">
                            <h1>文章管理</h1>
                        </div>
                        <div class="backStage_filter backStage_addAccount">
                            <button class="lightBox_btn"><i class="bi bi-funnel-fill"></i>條件篩選</button>
                        </div>
                        <div class="backStage_input_filter">
                            <!-- <div class="on_stock">
                                <span>線上商品(2)</span>
                                <span>回收桶(0)</span>
                            </div> -->
                            <div class="input_filter">
                                <input type="text" placeholder="以文章編號查詢">
                                <i class="bi bi-search"></i>
                            </div>
                            <div class="backStage_search">
                                <button class="backStage_search_btn">
                                    查詢
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="backStage_right_table_part">
                        <table class="account_table_title table_title">
                            <tr class="table_header_row">
                                <th>文章編號</th>
                                <th>會員編號</th>
                                <th>會員名稱</th>
                                <th>文章類別</th>
                                <th>文章標題</th>
                                <th>按讚人數</th>
                                <th>回應人數</th>
                                <th>檢舉人數</th>
                                <th></th>
                            </tr>
                            <tr class="table_data_row odd" v-for="articleRow in articleRows">
                                <td>{{articleRow.post_id}}</td>
                                <td>{{articleRow.member_id}}</td>
                                <td>{{articleRow.member_name}}</td>
                                <td>{{articleRow.post_type}}</td>
                                <td>{{articleRow.post_title}}</td>
                                <td>{{articleRow.fav}}</td>
                                <td>{{articleRow.message}}</td>
                                <td>{{articleRow.report}}</td>
                                <td><button class="lightBox_btn edit_btn" @click="view(articleRow.post_id)">檢視</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- 檢視文章燈箱 -->
            <div class="backStage_lightBox backStage_lightBox_article">
                <div class="backStage_lightBox_container">
                    <div class="backStage_lightBox_content">
                        <div class="backStage_lightBox_title">
                            <h3>檢視文章</h3>
                        </div>
                        <div class="backStage_lightBox_close" @click="hide">
                            <i class="bi bi-x-lg"></i>
                        </div>
                        <div class="backStage_lightBox_main_content">
                            <!-- <article-form v-for="content in contents" v-bind="content"></article-form> -->
                            <form action="">
                                <div class="course_sm_block item_sm_block article_sm_block">
                                    <label for="article_sm">文章編號</label>
                                    <input type="text" id="article_sm" :value="popupItem.post_id" readonly>
                                </div>
                                <div class="course_img_block item_img_block member_sm_block">
                                    <label for="member_sm">會員編號</label>
                                    <input type="text" id="member_sm" :value="popupItem.member_id" readonly>
                                </div>
                                <div class="course_title_block item_title_block member_title_block">
                                    <label for="member_title">會員名稱</label>
                                    <input type="text" id="member_title" :value="popupItem.member_name" readonly>
                                </div>
                                <div class="course_price_block item_price_block article_type_block">
                                    <label for="article_type">文章類別</label>
                                    <input type="text" id="article_type" :value="popupItem.post_type" readonly>
                                </div>
                                <div class="course_state_block item_state_block article_title_block">
                                    <label for="article_title">文章標題</label>
                                    <input type="text" id="article_title" :value="popupItem.post_title" readonly>
                                </div>
                                <div class="course_state_block item_state_block article_content_block">
                                    <label for="article_content">文章內容</label>
                                    <textarea name="" id="article_content" cols="30" rows="10" style="resize:none;width:300px;height:150px;" readonly>{{popupItem.post_txt}}</textarea>
                                </div>
                                <div class="course_state_block item_state_block article_like_block">
                                    <label for="article_like">按讚人數</label>
                                    <input type="text" id="article_like" :value="popupItem.fav" readonly>
                                </div>
                                <div class="course_state_block item_state_block article_respond_block">
                                    <label for="article_respond">回應人數</label>
                                    <input type="text" id="article_respond" :value="popupItem.message" readonly>
                                </div>
                                <div class="course_state_block item_state_block article_report_block">
                                    <label for="article_report">檢舉人數</label>
                                    <input type="text" id="article_report" :value="popupItem.report" readonly>
                                </div>
                            </form>
                        </div>
                        <!-- <div class="backStage_lightBox_saveBtn">
                            <button type="submit" class="data_save">儲存</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- @@include('layout/backStage_footer.html') -->
        </div>
    </div>


    <script>

        let backStage_article = new Vue({
            el:'#backStageID',
            data:{
                articleRows: [],
                focusId: '',
                popupItem: {
                    "post_id": 0,
                    "member_id": 0,
                    "post_txt":"",
                    "post_title":"",
                    "post_type": '',
                    "member_name":"",
                    "fav": 0,
                    "message": 0,
                    "report": 0
                },
            },
            computed: {
                focusItem() {
                    return this.articleRows.find(v => v.post_id == this.focusId);
                },
            },
            watch: {
                focusItem(nVal) {
                    this.popupItem = nVal;
                },
            },
            methods: {
                show(){
                    document.querySelector('.backStage_lightBox').style.display = 'flex';
                },
                hide(){
                    document.querySelector('.backStage_lightBox').style.display = 'none';
                },
                view(id) {
                    document.querySelector('.backStage_lightBox').style.display = 'flex';
                    this.focusId = id;
                },
            },
            created(){
                let xhr = new XMLHttpRequest();
                xhr.onload = () =>{
                    
                    // 按讚
                    let postFav = JSON.parse(JSON.parse(xhr.responseText).postFav);
                    
                    console.log('文章',postFav);
                    
                    // 留言
                    let message = JSON.parse(JSON.parse(xhr.responseText).message);
                    
                    console.log('留言',message);
                    
                    // 檢舉
                    let report = JSON.parse(JSON.parse(xhr.responseText).report);
                    
                    console.log('檢舉',report);

                    result = postFav.map((item) => {
                        let messageItem = message.find(v => v.post_id == item.post_id);
                        let reportItem = report.find(v => v.post_id == item.post_id);
                        return {...item, ...messageItem, ...reportItem};
                    })

                    this.articleRows = result;
                    console.log(result);
                }
                xhr.open("get","back_article.php",true);
                xhr.send(null);
            }
        })


    </script>


</body>
</html>