<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html', {
        "title" : "問題討論"
    })
</head>
<body class="faqBody">
    <!-- header -->
    @@include('layout/header.html')
    <!-- header end -->
    <section class="faq" id="faq">
        <h1>問題討論</h1>
        <div class="container faq_wrap">
            <div class="row faq_main_content">
                <div class="col-12 col-md-3 faq_course">
                    <div class="faq_selection">
                        <div class="faq_jap faq_japan_50">
                            <h2 @click="showLesson('a',1)" ref="a">50音課程</h2>
                        </div>
                        <div class="faq_jap faq_japan_vocabular y">
                            <h2 @click="showLesson('b',2)" ref="b">單字課程</h2>
                        </div>
                        <div class="faq_jap faq_japan_conversation">
                            <h2 @click="showLesson('c',3)" ref="c">會話課程</h2>
                        </div>
                        <div class="faq_jap faq_japan_test">
                            <h2 @click="showLesson('d',4)" ref="d">升級測驗</h2>
                        </div>
                    </div>
                    <div class="faq_filter_section">
                        <div class="faq_filter">
                            <select name="faq_filter" id="faq_option">
                                <option value="new">最新留言</option>
                                <option value="hot">熱門留言</option>
                            </select>
                        </div>
                        <div class="faq_desktop_writing">
                            <button id="faq_desktop_btn" @click="postShow">我要發文</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-9 faq_article" id="faqArticle">
                    <div class="faq_article_list">
                        <article-card v-for="item in articleList" :item="item" @update="implFilterFocusArticlesList"/>
                    </div>
                    
                </div>
            </div>
            <div class="faq_rwd_writing">
                <div class="faq_rwd_writing_icon" id="postRwdBtn" @click="postShow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                </div>
            </div>
        </div>
        
        <!-- 發文燈箱 -->
        <section id="faq_post">
            <div class="faq_post_box">
                <div class="faq_post_content">
                    <h3>我要發文</h3>
                    <div class="faq_post_close">
                        <i id="message_close_id" class="bi bi-x-lg" @click="close"></i>
                    </div>
                    <div class="faq_post_article">
                        <form id="article_post" action="" method="post">
                            <div class="faq_post_title">
                                <label for="article_title">標題</label>
                                <input type="text" placeholder="請輸入標題" id="post_article_title" v-model="postTitle">
                            </div>
                            <div class="faq_post_type">
                                <label for="article_type">類別</label>
                                <select name="" id="article_type_select" v-model="postType" :value="postType">
                                    <option value="1">50音</option>
                                    <option value="2">單字</option>
                                    <option value="3">會話</option>
                                    <option value="4">升級測驗</option>
                                </select>
                            </div>
                            <div class="faq_post_paragragh">
                                <label for="article_paragragh">
                                    內文
                                </label>
                                <textarea name="post" id="paragragh" placeholder="請輸入內文" style="resize:none;width:96%;height: 200px;;" v-model="postText"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="faq_post_btn">
                        <button type="button" id="post_article-btn" @click="userPost">發文</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- 檢舉燈箱 -->
        <section id="faq_report">
            <div class="faq_report_box">
                <div class="faq_report_content">
                    <h3>我要檢舉</h3>
                    <div class="faq_report_close">
                        <i id="message_close_id" class="bi bi-x-lg" @click="close"></i>
                    </div>
                    <div class="faq_report_option">
                        <p>文章內容含有:</p>
                        <form id="report_post" action="" method="post">
                            <div class="faq_violence">
                                <input type="radio" name="report" id="violence" checked>
                                <label for="violence">暴力內容</label>
                            </div>
                            <div class="faq_ads">
                                <input type="radio" name="report" id="ads">
                                <label for="ads">廣告推銷</label>
                            </div>
                            <div class="faq_porn">
                                <input type="radio" name="report" id="porn">
                                <label for="porn">色情內容</label>
                            </div>
                            <div class="faq_trash">
                                <input type="radio" name="report" id="trash">
                                <label for="trash">垃圾內容</label>
                            </div>
                            <div class="faq_terrorism">
                                <input type="radio" name="report" id="terrorism">
                                <label for="terrorism">恐怖主義</label>
                            </div>
                        </form>
                    </div>
                    <div class="faq_report_btn">
                        <button id="report_submit" type="submit">檢舉</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- 學員留言介面 -->
        <section id="faq_message">
            <div class="faq_message_frame">
                <div class="faq_message_box">
                    <div class="faq_message_content">
                        <div class="faq_message_close">
                            <i id="message_close_id" class="bi bi-x-lg" @click="close"></i>
                        </div>
                        <!-- Vue component 元件==>當事人po文的內容 -->
                        <div>
                            <article-detail v-for="focusArticle in filterFocuArticlesList"  :focus-article="focusArticle"/>
                        </div>
                    </div>
                </div>
                

                <!-- Vue component 元件==>其他學員留言內容 -->
                <div class="student_message_info">
                    <article-message v-for="message in focusMessages" :item="message"/>
                </div>
                <div class="faq_user_input">
                    <div class="user_npc">
                        <img src="./images/char_00_1.png" alt="學員">
                    </div>
                    <form action="" method="post">
                        <input type="text" id="user_message" placeholder="我要留言" v-model="inputMessage">
                    </form>
                    <div class="user_message_submit">
                        <button id="message_send" class="message_submit_btn" type="button" @click="sendMessage">
                            <i class="bi bi-send-fill"></i>
                        </button>
                    </div>
            </div>
            </div>

        </section>
    </section>


    @@include('layout/login_register.html')

    <!-- footer -->
    @@include('layout/footer.html')


    <script>

        //Vue component 元件==>文章列表 - 共用元件 -->
        Vue.component('article-card',{
            props:{
                item : Object,
            },
            template:`
            <div class="faq_mem faq_mem_A" isActive>
                <div class="faq_mem_npc">
                    <img src="./images/char_00_1.png" alt="學員A">
                </div>
                <div class="faq_article_content">
                    <span>{{item.member_name}}</span>
                    <h3 class="article_title" @click="setFoucsId(item.post_id)">{{item.post_title}}</h3>
                    <p class="article_paragragh">{{item.post_txt}}</p>
                    <div class="faq_icon_function">
                        <div class="faq_heart_info">
                            <div class="faq_heart" @click="setHeart" ref="heart">
                                <i class="bi bi-heart"></i>
                                <i class="bi bi-heart-fill"></i>
                                <p class="heart_quantity">{{item.fav}}</p>
                            </div>
                            <div class="faq_message">
                                <i class="bi bi-chat-dots"></i>
                                <p class="message_quantity">{{item.messageNum}}</p>
                            </div>
                        </div>
                        <div class="faq_report">
                            <span class="user_report" @click="reportShow">檢舉</span>
                        </div>
                    </div>
                </div>
            </div>
            `,
            methods: {
                setHeart(e) {
                    //確認localStorage有沒有收藏清單
                    // 有收藏清單後，確認文章id是否在收藏清單內，有的話就抽出，沒有就push
                    let memName = document.getElementById('memName');
                    if(memName.innerText = ''){
                        alert('請登入帳號');
                        return;
                    }
                    let fav = localStorage.getItem('fav') ?  JSON.parse(localStorage.getItem('fav')) : [];  //
                    e.currentTarget.classList.toggle('show');
                    
                    if (fav.indexOf(this.id) > -1) {
                        fav.splice(fav.indexOf(this.id),1)
                    } else {
                        fav.push(this.id)
                    }
                    // 將更新後的收藏清單存入localStorage
                    localStorage.setItem('fav',JSON.stringify(fav));
                },
                setFoucsId(post_id) {
                    document.getElementById('faq_message').style.display='flex';
                    console.log('setFoucsId:'+ post_id)
                    this.$emit('update', post_id)
                },
                reportShow(){
                    let memName = document.getElementById('memName');
                    if(memName.innerText != ''){
                        document.getElementById('faq_report').style.display='flex';
                    }else{
                        alert('請登入帳號');
                    }
                }
            },
            mounted() { //初始化
                let memName = document.getElementById('memName');
                if(memName.innerText = ''){
                    alert('請登入帳號');
                    return;
                }
                let fav = localStorage.getItem('fav') ?  JSON.parse(localStorage.getItem('fav')) : [];
                if(fav.indexOf(this.id) > -1){
                    this.$refs.heart.classList.add('show')
                }else{
                    this.$refs.heart.classList.remove('show')
                }
                // 初始化愛心的狀態，判斷是否在list內
                // if (fav.indexOf(this.id) > -1) {
                //         this.$refs.heart.classList.add('show')
                //     } else {
                //         this.$refs.heart.classList.remove('show')
                // }
            },
        })


        // Vue component 元件==>當事人po文的內容
        Vue.component('article-detail',{
            props:{
                focusArticle : Object,
            },
            template:`
            <div class="faq_message_article">
                <div class="faq_student">
                    <div class="faq_npc">
                        <img src="./images/char_00_1.png" alt="學員A">
                    </div>
                    <div class="name_time">
                        <span>{{getFocusName}}</span>
                        <span>{{getFocusDate}}</span>
                    </div>
                </div>
                <div class="faq_message_title_paragragh">
                    <h3>{{getFocusTitle}}</h3>
                    <p>{{getFocusText}}</p>
                </div>
                <div class="faq_article_heart" @click="setHeart" ref="heart">
                    <i class="bi bi-heart"></i>
                    <i class="bi bi-heart-fill"></i>
                    <p class="heart_quantity">{{getFocusFav}}</p>
                </div>
            </div>
            `,
            methods: {
                setHeart(e) {
                    //確認localStorage有沒有收藏清單
                    // 有收藏清單後，確認文章id是否在收藏清單內，有的話就抽出，沒有就push
                
                    let fav = localStorage.getItem('fav') ?  JSON.parse(localStorage.getItem('fav')) : [];  //
                    e.currentTarget.classList.toggle('show');
                    
                    if (fav.indexOf(this.id) > -1) {
                        fav.splice(fav.indexOf(this.id),1)
                    } else {
                        fav.push(this.id)
                    }
                    // 將更新後的收藏清單存入localStorage
                    localStorage.setItem('fav',JSON.stringify(fav));
                },
            },
            created(){
                console.log('article-detail created')
                console.log(this.focusArticle)
            },
            computed:{
                getFocusArticle(){
                    return this.focusArticle?.role
                },
                getFocusName(){
                    return this.focusArticle?.member_name
                },
                getFocusDate(){
                    return this.focusArticle?.post_date
                },
                getFocusTitle(){
                    return this.focusArticle?.post_title
                },
                getFocusText(){
                    return this.focusArticle?.post_txt
                },
                getFocusFav(){
                    return this.focusArticle?.fav
                }
            },
            mounted() { //初始化
                let fav = localStorage.getItem('fav') ?  JSON.parse(localStorage.getItem('fav')) : [];
                // 初始化愛心的狀態，判斷是否在list內
                if (fav.indexOf(this.id) > -1) {
                        // this.$refs.heart.classList.add('show')
                    } else {
                        // this.$refs.heart.classList.remove('show')
                    }
            },
        })

        // Vue component 元件==>其他學員留言內容
        Vue.component('article-message',{
            // props:['pic','name','date','info','sequence','time'],
            props:{
                item:Object,
            },
            template:`
            <div class="faq_message_info">
                <div class="faq_student_message">
                    <div class="faq_student1 student">
                        <div class="faq_student_npc">
                            <img src="./images/char_00_1.png" alt="學員1">
                        </div>
                        <div class="faq_student_text">
                            <span class="student_name">{{item.member_name}}</span>
                            <p>{{item.message_txt}}</p>
                            <span class="student_code">編號{{item.message_id}}</span>
                            <span class="post_time">{{item.message_date}}</span>
                        </div>
                    </div>
                </div>
            </div>
            `,
            computed:{
                messageImg(){
                    return this.message?.role
                },
                memberName(){
                    return this.message?.member_name
                },
                messageDate(){
                    return this.message?.message_date
                },
                messageContent(){
                    return this.message?.message_txt
                },
                messageId(){
                    return this.message?.message_id
                },
            }
        })

        let articleList = new Vue({
            data:{
                type:'a',
                focusArticles:[],
                targetPostKey: '',
                articleList: [],
                focusId: 0,
                messages:[],
                postTitle:'',
                postText:'',
                postType:'',
                inputMessage:''
            },
            methods: {
                showLesson(type, typeInt){
                    this.type = type;
                    articleList.getPostType(typeInt);
                },
                implFilterFocusArticlesList(post_id){
                    console.log('implFilterFocusArticlesList')
                    console.log('implFilterFocusArticlesList:'+ post_id)
                    this.targetPostKey = post_id
                },
                getPostType(postType){
                    let xhr = new XMLHttpRequest();
                    xhr.onload = () =>{
                        // 含留言內容、留言編號
                        let messageText = JSON.parse(JSON.parse(xhr.responseText).messageText);
                        console.log('留言內容:',messageText);

                        // 含按讚數、留言數
                        let numbers = JSON.parse(JSON.parse(xhr.responseText).numbers);
                        console.log('數量:',numbers);

                        this.messages = messageText;
                       
                        console.log('messages:',messageText);
                        this.articleList = numbers;
                        console.log('articleList:',numbers);

                        // 文章燈箱內容
                        this.focusArticles = numbers;
                        // this.focusArticles = JSON.parse(xhr.responseText);
                    }
                    xhr.open("post", "faq.php", true);
                    xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");

                    let dataset = {};
                    dataset.action = postType;
                    let data_info = `json=${JSON.stringify(dataset)}`;
                    xhr.send(data_info);
                },
                close(){
                    document.getElementById('faq_message').style.display='none';
                    document.getElementById('faq_report').style.display='none';
                    this.postTitle = '';
                    this.postText = '';
                    document.getElementById('faq_post').style.display='none';
                    this.inputMessage = '';
                },
                postShow(){
                    let memName = document.getElementById('memName');
                    if(memName.innerText != ''){
                        document.getElementById('faq_post').style.display='flex';
                    }else{
                        alert('請登入帳號');
                    }
                },
                userPost(){
                    if(this.postTitle == '' || this.postText == ''){
                        alert('標題和內文不可為空白');
                    }else{
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function(){
                            alert('發文成功!');
                            // 按下發文按鈕後，發文燈箱消失
                            document.getElementById('faq_post').style.display = 'none';

                            // 發文成功後，更新頁面文章
                            articleList.getPostType(articleList.postType);
                        }
                        xhr.open("post", "faq_post.php", true);
                        xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");

                        let data_info = `post_title=${this.postTitle}&post_txt=${this.postText}&post_type=${this.postType}`;

                        console.log('PO文資訊:',data_info);
                        xhr.send(data_info);
                    }
                },
                sendMessage(){
                    let memName = document.getElementById('memName');
                    console.log(memName.innerText);
                    if(memName.innerText == ''){
                        alert('請登入帳號');
                    }else if(this.inputMessage == ''){
                        alert('欄位不可為空值');
                    }
                    let xhr = new XMLHttpRequest();
                    xhr.onload = function(){
                        // 這裡的articleList是指最上層的new vue變數
                        articleList.inputMessage = '';
                        
                        let messageText = JSON.parse(xhr.responseText);

                        articleList.messages = messageText;

                    }
                    xhr.open("post", "faq_message.php", true);
                    xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");

                    let data_info = `message_txt=${this.inputMessage}&post_id=${this.targetPostKey}`;

                    console.log('留言資訊:',data_info);
                    xhr.send(data_info);
                }
            },
            created() {
                let xhr = new XMLHttpRequest();
                xhr.onload = () =>{
                    // 50音文章列表
                    this.articleList = JSON.parse(JSON.parse(xhr.responseText).post);
                    // 文章燈箱留言內容
                    this.messages = JSON.parse(JSON.parse(xhr.responseText).comment);
                    // 文章燈箱po文內容
                    this.focusArticles = JSON.parse(JSON.parse(xhr.responseText).post);
                    // console.log(this.focusArticles);
                }
                xhr.open("get", "faq_50.php", true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                xhr.send(null);
            },
            computed:{
                filterFocuArticlesList(){
                    console.log('filterFocuArticlesList')
                    console.log(this.focusArticles)
                    if(this.targetPostKey && this.targetPostKey != null){
                        const tmpKey = this.targetPostKey 
                        const temp = this.focusArticles.filter(function(item) {
                            if(item.post_id === tmpKey){
                                return true
                            }
                        })
                        return temp

                    }
                    return this.focusArticles
                },
                focusMessages() {
                    let id = this.filterFocuArticlesList?.[0]?.post_id ?? 0;
                    return this.messages.filter(v => v.post_id == id);
                },
            },
            
            el:'#faq',
        });

    </script>

    <script src="./js/faq.js"></script>
</body>
</html>