<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html',{"title" : "會員專區"})
    
</head>
<body>
    @@include('layout/header.html')
    <!-- @@include('layout/login.html') -->
    <div class="black">
        <div id="lightBox">
            <button class="back"><</button>
        </div>
    </div>

    
    <div class="wapper">
        <img id="me" src="./images/char_00.png" alt="char_00"></img>
        <div class="wall">
            <div class="content">
                <img v-for="(data,key) in img" :src="`./images/map_mem_${img[key]}.png`" :alt="img[key]" :class="img[key]">
            </div>
        </div>
        <div class="floor">
            <div class="content">
                <img v-for="(data,key) in img" :src="`./images/map_mem_${img[key]}.png`" :alt="img[key]" :class="img[key]">
                <div class="message">我要發問</div>
            </div>
        </div>
    </div>

    

    @@include('layout/footer.html')




    
    
    <script src="js/mem.js"></script>


</body>