<!DOCTYPE html>
<html lang="en">
<head>
    @@include('layout/meta.html',{"title" : "會員專區"})

  
    
</head>
<body>
    @@include('layout/header.html')
    <div class="black">
        <div id="lightBox">
            <button class="backTo"><</button>
            <div class="map_lightBox">
                <img src="./images/studyMap_main_island.png" alt="">
            </div>
            <div class="closet_lightBox">
                <div class="char">
                    <img src="./images/char_00.png" alt="">
                </div>
                <div class="cloth">
                    <div class="page">
                        <div class="tab_hat">
                            <img src="./images/char_dress_1.png" alt="">
                        </div>
                        <div class="tab_dress">
                            <img src="./images/char_hat_1.png" alt="">
                        </div>
                        <div class="tab_tool">
                            <img src="./images/char_dress_1.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="itemFront"><img src="./images/map_mem_button2.png" alt=""></div>
                        <div class="item-wrapper">
                            <div class="1">
                                <img src="./images/char_dress_2.png" alt="">
                            </div>
                            <div class="2">
                                <img src="./images/char_hat_1.png" alt="">
                            </div>
                            <div class="3">
                                <img src="./images/char_dress_2.png" alt="">
                            </div>
                            <div class="3">
                                <img src="./images/char_dress_2.png" alt="">
                            </div>
                            <div class="3">
                                <img src="./images/char_dress_2.png" alt="">
                            </div>
                        </div>
                        <div class="itemBack"><img src="./images/map_mem_button.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="bed_lightBox">

            </div>
            <div class="box1_lightBox">

            </div>
            <div class="desk_lightBox">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti illum adipisci in ipsa eligendi dolorem libero! Corporis nostrum dicta illum eligendi vitae totam, aspernatur atque, fugiat mollitia in voluptatum natus.
            </div>
        </div>
    </div>

    

    
    <div class="wrapper">
        <div class="say">你好~</div>
        <img id="me" src="./images/char_00.png" alt="char_00"></img>
        <div class="wall">
            <div class="content">
                <img v-for="(data,key) in img" :src="`./images/map_mem_${img[key]}.png`" :alt="img[key]" :class="img[key]">
            </div>
        </div>
        <div class="floor">
            <div class="content">
                <img v-for="(data,key) in img" :src="`./images/map_mem_${img[key]}.png`" :alt="img[key]" :class="img[key]">
            </div>
        </div>
        <div class="chetbox">
            <div class="info">
                <div class="headshot">
                    <img src="./images/char_00.png">
                </div>
                <span class="teacher-name">語實巨進老師</span>
                <div class="cancel">
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="conv">
                <!-- <div class="tr">
                    <span class="tr-name">語實巨進</span>
                    <div class=trHead>
                        <img src="./images/char_00.png">
                    </div>
                    <p>
                        123456789
                    </p>
                </div>
                <div class="user">
                    <span class="user-name">使用者</span>
                    <div class="userHead">
                        <img src="./images/char_00.png">
                    </div>
                    <p>
                        abcdefgdsfdsfdfdf';dslfsdldf
                    </p>
                </div> -->
            </div>
            <div class="input">
                <input  type="text" id="inputTxt" autocomplete="off"name="ask" placeholder="請輸入想問的問題...">
                <img class="sent" src="./images/map_mem_icon.png" alt="傳送">
            </div>
        </div>
    </div>

    @@include('layout/footer.html')

    




    
    
    <script src="js/mem.js"></script>


</body>