<footer class="backStage_footer">
    <ul class="footer_list">
        <li class="arrow double-left"><i class="bi bi-chevron-double-left"></i></li>
        <li class="arrow arrow_left"><i class="bi bi-chevron-left"></i></li>
        <li class="page_num">1</li>
        <li class="page_num">2</li>
        <li class="page_num">3</li>
        <li class="arrow arrow_right"><i class="bi bi-chevron-right"></i></li>
        <li class="arrow double-right"><i class="bi bi-chevron-double-right"></i></li>
    </ul>
</footer>