<header id="backStage">
    <div class="backStage_content">
        <div class="backStage_logo">
            <img src="./images/nav_logo.png" alt="語實巨進後台管理">
            <h1>後台管理</h1>
        </div>
        <div class="backStage_administrator">
            <div class="administrator"><span id="header_admin"></span></div>
            <div class="logout">
                <span id="backLogout">登出</span>
            </div>
        </div>
    </div>
</header>

<!-- <script src="./js/backStage_login.js"></script> -->
<script src="./js/backStage_ajaxLogin_admin.js"></script>