<input type="checkbox" id="header_menu_switch">
<header id="main_header">
    <div class="header_white-bg">
        <div class="header_wrap">
            <label for="header_menu_switch" class="header_hb">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="header_logo">
                <a href="home.html"><img src="./images/nav_logo.png" alt="語實巨進"></a>
            </div>
            <nav class="header_main_nav">
                <div id="moneyArea" class="header_money" style="display: none">
                    <div class="header_coin">
                        <img src="./images/nav_coin.png" alt="代幣">
                    </div>
                    <span id="mem_coin"></span>
                </div>
                <ul>
                    <li><a href="studyMap_main.html">學習地圖</a></li>
                    <li><a href="test.html">升級測驗</a></li>
                    <li><a href="mall.html">寶物商城</a></li>
                    <li><a href="faq.html">問題討論</a></li>
                </ul>
            </nav>
            <div id="loginBox" class="header_login_box">
                <div class="header_login" id="for_member_section">
                    <span id="memArea">會員專區</span>
                    <span id="memName"></span>
                    <span id="logout">登出</span>
                    <i id="userHead" class="bi bi-person"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="header_nav_cloud">
        <img src="./images/nav2.png" alt="導覽列雲">
    </div>
</header>
<script>
    //從資料庫撈出代幣金額
    let coinxhr = new XMLHttpRequest();

    coinxhr.open("get", "coin.php", true);
    coinxhr.send(null);

    coinxhr.onload = function () {
        if (coinxhr.status == 200) {
            //再丟回去
            document.getElementById("mem_coin").innerText = coinxhr.responseText;
        }

    };

</script>
<script>
    let coin = document.getElementById("moneyArea");
    let show = document.getElementById("logout");
    function show_coin() {
        if (show.innerHTML == "登出")
            coin.style.display = "flex"
    }


</script>